[2012-11-12 06:27] bkw opened #17 "Outdated Docs on php.net/amqp"
The documentation on php.net is out of date and misleading at times. How does the process of updating it work? Anything we can do to help?

[2012-11-14 02:28] bkw opened #25 "memory leak with pconnect()"
Potential sponsor reports memory leaks with pconnect() when used in a loop.
Possibly related: https://bugs.php.net/bug.php?id=63350

[2013-06-13 22:37] gjuric opened #62 "Implement RabbitMQ tutorials"
Since the documentation is practically non-existent, it would be nice if somebody would implement [tutorials from the RabbitMQ site](http://www.rabbitmq.com/getstarted.html).

Maybe this would be less time consuming then trying to update the whole documentation and it would certainly be of much help to the newcomers.

Repo with tutorials for other languages and implementations is located at [rabbi

[2014-03-17 09:53] EagleEyeJohn opened #95 "Segmentation fault when installing via PECL"
Not sure if this is the correct place to report this, but I get a Segmentation fault when installing amqp-1.4.0beta2

[code]

Last few lines of PECL install

[code]

[2014-03-27 21:55] kinncj opened #99 "Release buffer on exception"
https://github.com/pdezwart/php-amqp/blob/master/amqp_exchange.c#L596

In this line, if the buffer is not ok, ```amqp_maybe_release_buffers``` (https://github.com/alanxz/rabbitmq-c/blob/b852f846c46a3bb9451f99844edfbea41f3289f1/librabbitmq/amqp_connection.c#L402) will not release the buffer.

The behaviour is ok if you don't catch the exception.. but once you catch the exception, the php process st

[2014-05-02 13:14] EagleEyeJohn opened #108 "{handshake_timeout,frame_header}"
Are you able to shed some light on why we should be receiving the following log entries when using version 1.4.0-1?  Attempts to connect fail with ```{handshake_timeout,frame_header}```.

These are intermittent and do not appear to relate to high load on the server which has a load average of 0.0x most of the time.  The publish rate to RabbitMQ is less than 0.5/sec.

[code]

[code]

[code]

[code]

[2014-05-26 13:11] blacksonic opened #112 "Segmentation fault"
I get 'Segmentation fault' when output the envelopes content via var_dump with PECL version  1.4

[2014-06-02 09:04] joshdifabio opened #113 "Expose the underlying socket of a connection"
It would be helpful to be able to access a connection's underlying socket in order to utilise stream_select, socket_select and libevent in order to detect inbound AMQP messages.

An event-driven program (e.g. one implemented using ReactPHP) will generally use *_select or libevent to listen for activity on a number of sockets (e.g. with MySQL and ZeroMQ we can get the underlying socket and register

[2014-07-09 12:39] pierrejoye opened #117 "Misuse of release notes"
hi

The releases notes are misused in package.xml

Older releases should be in the changelog > release tags.

If you like to support automatic conversions of the changelog to pickle, it would be nice to fix it. It would be good anyway for the current pecl.php.net so it can be displayed on a per release basis.

[2014-07-09 21:33] jocel1 opened #118 "Implement SSL support"
Hi,

Either https://github.com/BraveSirRobin/amqphp or https://github.com/videlalvaro/php-amqplib implements a way to connect to RabbitMQ through SSL.

Do you plan to add this kind of feature ?

Thanks !
  Jocelyn

[2014-08-11 12:09] pinguo-shenqiang opened #119 "AMQPConnectionException with message (unknown error)"
Stack trace:
#0 /home/worker/data/www/CC_Server/protected/modules/mq/models/logic/MqModelLogicEvent.php(131): AMQPQueue->get()
#1 /home/worker/data/www/CC_Server/protected/modules/mq/commands/EventCommand.php(63): MqModelLogicEvent->dispatch('msg-events')
#2 [internal function]: EventCommand->actionDispatch('msg-events')
#3 /home/worker/data/www/phplib/yii-1.1.13/console/CConsoleCommand.php(172):

[2014-08-21 15:26] EagleEyeJohn opened #120 "packagist.org"
https://packagist.org/packages/pdezwart/php-amqp/maintainers/
please could you register with packagist so that you can become the registered maintainer?

And then also add the "GitHub Service Hook

Enabling the Packagist service hook ensures that your package will always be updated instantly when you push to GitHub. To do so you can go to your GitHub repository, click the "Settings" button, then "

[2014-12-30 01:45] wujibing opened #135 "‘amqp_exchange_declare‘ argument error"
/root/amqp-1.4.0/amqp_exchange.c:515:2: error: incompatible type for argument 7 of 'amqp_exchange_declare'
In file included from /usr/local/include/amqp.h:732:0,
                 from /root/amqp-1.4.0/amqp_exchange.c:42:
/usr/local/include/amqp_framing.h:798:11: note: expected 'amqp_boolean_t' but argument is of type 'amqp_table_t'
/root/amqp-1.4.0/amqp_exchange.c:515:2: error: too few arguments t

[2015-01-01 21:52] rcrowe opened #136 "Publisher Acknowledgements"
I've looked through the documentation / code / existing issues & couldn't find an answer on *confirms*. So apologies if this is a duplicate.

The closest I've found was on #24 but the last message just states `Very old issue. Closing.`

Is there a way to do confirms?

[2015-01-03 01:16] pinepain commented on #136
There are not support for [confirms](https://www.rabbitmq.com/confirms.html) yet. But it may be added.

[2015-01-19 20:46] alextech opened #137 "RabbitMQ 3.4.3 security update breaks exchange binding"
After performing recommended security update from 3.4.2 to 3.4.3, binding to an exchange using $queue->consume($callback, AMQP_AUTOACK);
where $queue is created from AMQP_EX_TYPE_TOPIC
causes exception with message "Unknown server error occurred."

Tried updating to latest master in librabbitmq-c. It is now at 0.5.3. Compilation was ok but now the queue consumption exits with "Library error: unexp

[2015-01-19 22:09] alextech commented on #137
unable to reproduce later in the day. seems to be inconsisent or made a mistake in upgrade path.

[2015-01-19 22:09] #137 closed

[2015-01-20 13:07] pkruithof opened #138 "Support request for basic.recover"
It seems that the [basic.recover][1] command is not available in this extension. Could this be implemented?

As a related question: would it be a good idea to add some generic method to send a command to the AMQP server? As a way to be able to use commands that have not yet been implemented.

[1]: http://www.rabbitmq.com/amqp-0-9-1-quickref.html#basic.recover

[2015-01-20 15:01] pinepain commented on #137
To make sure everything is OK try to build both rabbitmq-c and php-amqp from master branches

[2015-01-20 15:07] alextech commented on #137
yes, have to be careful to always recompile rabbitmq-c and php-amqp on all rabbitmq updates. Thanks.

[2015-01-20 16:07] pinepain commented on #138
Yeah, `basic.recover` is not implemented yet. php-amqp is not 100% AMQP protocol implementation yet and there are other methods which are not yet supported.

I think [basic.recover](http://www.rabbitmq.com/amqp-0-9-1-quickref.html#basic.recover) may be implemented without any side-effects to existent code.

`basic.recover` method can be placed to AMQPChannel method (while it breaks single responsi

[2015-01-21 21:40] pkruithof commented on #138
Thank you, much appreciated.

Could you give your thoughts on the other question?

[2015-01-21 22:49] pinepain commented on #138
Technically it is possible but I don't think that it is good idea. At least for now.

Can you explain purposes to allow custom AMQP methods sending and handling in userspace (except adding missed AMQP methods support)?

[2015-01-21 23:02] pinepain commented on #138
Technically it is possible but I don't think that it is good idea. At least for now.

Can you explain purposes to allow custom AMQP methods sending and handling in userspace (except adding missed AMQP methods support)?

TL;DR

    1. Different methods has their own signature as well as different kind of responses. Generally, yes, it is possible to have some generic method to send a command to AMQP

[2015-01-21 23:03] pinepain commented on #138
Technically it is possible but I don't think that it is good idea. At least for now.

Can you explain purposes to allow custom AMQP methods sending and handling in userspace (except adding missed AMQP methods support)?

TL;DR

 1. Different methods has their own signature as well as different kind of responses. Generally, yes, it is possible to have some generic method to send a command to AMQP se

[2015-01-22 09:23] pkruithof commented on #138
The purpose was mainly to have a way to manually perform a method that is not yet implemented. Like right now, I kind of need the `basic.recover` method, but I'm unable to do so (unless I use another library).

But your arguments make sense to not do it. It also makes me wonder about the future development about this extension. Do you think it's subject to change a lot due to the 'messy architectu

[2015-01-22 15:18] pinepain commented on #138
I will add `basic.recover` ASAP and will review all supported methods to be sure we didn't missed anything.

Right now I'm fixing memleaks and minor errors introduced after huge refactoring (we didn't released that version to public). ETA is about 24 hours while most changes is production-critical.

As to BC, thinks should be discussed with other contributors and users, but in short terms I would

[2015-01-23 08:42] pkruithof commented on #138
Wow, much more than I hoped for, thank you!

Regarding the unification of interfaces, maybe it's wise to look at the [Java implementation][1]. It's been around for longer, I think, and probably has figured out solutions for the same kind of problems.

My desired approach would be to indeed unify the interfaces, and create a version 2 out of that. That way there will be 1 well designed implementati

[2015-01-25 17:48] lstrojny commented on #138
@pinepain I agree on the BC part very much, the only larger API changes we did so far in the 1.x cycle was splitting timeout into read- and write-timeout and declare vs. declareExchange and declareQueue. That was OK and trivial to be compatible with (just renamed or splits).

On a potential v2: any particular API changes you would have in mind already?

[2015-01-25 22:07] lstrojny commented on #120
@pdezwart sorry for the late response but I didn’t get an invite to an organisation. Could you try again?

[2015-01-25 22:07] lstrojny commented on #135
Closing

[2015-01-25 22:07] #135 closed

[2015-01-25 22:07] lstrojny commented on #119
Closing

[2015-01-25 22:07] #119 closed

[2015-01-25 22:08] lstrojny commented on #99
Closing

[2015-01-25 22:08] #99 closed

[2015-01-25 22:08] lstrojny commented on #25
Closing

[2015-01-25 22:08] #25 closed

[2015-01-25 22:09] lstrojny commented on #118
Any takers welcome, as I personally lack the time and especially the knowledge on how to properly implement SSL support using OpenSSL and I rather not support it and have a broken implementation than support it badly.

[2015-01-25 22:11] lstrojny commented on #108
@EagleEyeJohn still having the issue?

[2015-01-25 22:17] lstrojny opened #140 "Release Schedule 1.6.0"
@pinepain  Here is my plan for the 1.6.0 release. I just released beta1 and would not add more features now (should have shipped a release earlier already)

 - Week 4: 1.6.0 beta1 release
 - Week 5: 1.6.0 beta2 (replaces beta1, packaging mistake)
 - Week 8: 1.6.0 beta3 (if required)
 - Week 10: 1.6.0 stable release

[2015-01-26 00:22] pdezwart commented on #120
Crap sorry dude. I'll do it tonight!

On Sunday, January 25, 2015, Lars Strojny <notifications@github.com> wrote:

[2015-01-26 09:13] lstrojny commented on #120
Thanks!

[2015-01-26 10:25] pinepain commented on #118
rabbitmq-c has already SSL support, so for us it should not be a problem. I propose to pass key and cert path inside with other config parameters in `$credentials` argument to `AMQPConnection::__construct()` and also add getters and setters for key and cert (`{get,set}SecureKey`, `{get,set}SecureCert`?). There should be method to check whether established connection is secure one (`isSecure`?). Se

[2015-01-26 19:24] lstrojny commented on #118
@pinepain do you know anything about the implementation with regards to how they handle certificates?

[2015-01-27 08:44] llaville commented on #140
Hi @lstrojny
You've released the 1.6.0beta1 with a stable state. Should it be beta instead ?

BTW, one question, where is gone the 1.5.0 ?

[2015-01-27 12:37] pinepain commented on #118
rabbitmq-c uses OpenSSL (by default, there are other SSL implementations support too). I'm not into crypto, incluting TLS/SSL internals, but from rabbitmq-c activity (I keep eye on it) and it examples, it is not necessary to dive into internals, while you just have to create SSL socket (in terms of rabbitmq-c library) and then use it instead of tcp one.

I can try to play with it when I will have

[2015-01-27 12:38] pinepain commented on #118
rabbitmq-c uses OpenSSL (by default, there are other SSL implementations support too). I'm not into crypto, incluting TLS/SSL internals, but from rabbitmq-c activity (I keep eye on it) and it examples, it is not necessary to dive into internals, while you just have to create SSL socket (in terms of rabbitmq-c library) and then use it instead of tcp one.

If interface I proposed fits php-amqp exten

[2015-01-27 14:12] lstrojny commented on #140
@llaville that’s definitly a mistake, will pull the release so people are not automatically installing it. There won't be a 1.5.

[2015-01-27 14:17] lstrojny commented on #140
Done

[2015-01-27 14:20] llaville commented on #140
Thanks

[2015-01-28 04:39] iwind opened #141 "Can not build on Mac OS X Yosemite (10.10.1)"
PHP 5.6
librabbitmq 0.5.2 (downloaded from github)
php-amqp 1.6.0 beta2 (From pecl.php.net or from github)

[code]

then error occurs:

[code]

[2015-01-28 10:16] pinepain commented on #141
Confirmed. I will look what's wrong.

[2015-01-28 12:01] pinepain commented on #141
Should be fixed in https://github.com/pdezwart/php-amqp/pull/142

[2015-01-28 14:00] iwind commented on #141
Thank you, the issue has been fixed so quickly!

[2015-01-28 14:00] #141 closed

[2015-01-28 14:34] sshilko commented on #25
@pinepain
just another thanks for a fix, will try again against php-amqplib in production, spending ~50..250ms connecting not fun.

[2015-01-28 15:12] pinepain commented on #25
@sshilko if you will play with php-amqp extension, please take a look on persistent connection. It should save you connection time (or use raft extension with php-amqplib). Note, that persistent connection was fixed few weeks ago and not supposed to be stable, so test it and keep eye on it (in general, it should work fine, I just didn't test in under high load).

[2015-01-28 15:28] sshilko commented on #25
@pinepain thats exactly what ill try to do.. i use RabbitMQ + PHP  in production for about ~1 year,
started with php-amqp then switched to pure php "videlalvaro/php-amqplib" and stayed on until now.

* my speed benchmarks (simple publish) actually favored non-extension in spring 2014
* the persistent connections "closed unexpectedly" :(
* its not straightforward to deploy "php-amqp" i.e.
[code]
do

[2015-01-28 16:03] pinepain commented on #25
@sshilko, sorry, i mean [raphf](http://pecl.php.net/package/raphf). It was recommended to me on php irc channel as alternative to persistent connections.

As to installing php-amqp via pecl, note that latest version is in beta state, so you have to tell pecl to pick it (see [Unstable alpha/beta packages](http://pear.php.net/manual/en/guide.users.commandline.installing.php#guide.users.commandline.i

[2015-02-01 19:31] pinepain commented on #112
@blacksonic do you have this bug with latest (1.6.0 beta2) php-amqp version?

[2015-02-01 19:32] pinepain commented on #95
@EagleEyeJohn do you have this bug with latest (1.6.0 beta2) php-amqp version?

[2015-02-03 23:36] BardiaAfshin opened #143 "undefined constant AMQP_EX_TYPE_DIRECT error"
Trying to initiate from the following queue.php in Laravel

[code]

I get
[code]

when I run
[code]

[2015-02-04 09:51] sshilko commented on #25
just another comment to sum it up

* [Michael Wallner](https://github.com/php/pecl-php-raphf) replied RAPHF are non-userland functionality
* installed [amqp-1.6.0beta2](https://github.com/pdezwart/php-amqp/tree/v1.6.0beta2) with [rabbitmq-c v0.5.2](https://github.com/alanxz/rabbitmq-c/tree/v0.5.2) into sandbox environment for me

benchmarks of publishing single message to topic excnahge via AMQP w

[2015-02-04 10:10] m6w6 commented on #25
Note, RAPHF needs to be implemented explicitly in an extension. It's the perfect fit, though, for extensions using objects having to maintain (persistent) resources that do not have to be exposed to userland.

This is what I wrote to Sergei, when he asked me about RAPHF:

Doxygen API docs are here: http://php.github.io/pecl-php-raphf/php__raphf_8h.html

You can study exemplar code in pecl/http-v2

[2015-02-04 15:55] lstrojny commented on #143
Which version of amqp do you use?

[2015-02-04 17:07] pinepain commented on #25
@m6w6 Thanks for clarifying.
@sshilko sorry for pointing you to the wrong turn.

@sshilko, as to installation, yes, as Ubuntu sux at providing fresh versions of librabbitmq in their repos (I didn't find even any unofficial repo with fresh librabbitmq) you have to install it manually. Maybe someone (or even me when I get tired compile it on every machine) will provide debs for it. I have some plans

[2015-02-04 18:18] BardiaAfshin commented on #143
snippet from composer.json

[code]

[2015-02-04 18:19] pinepain commented on #143
`php-amqplib` php library is not the same as `php-amqp` extension.

[2015-02-04 18:23] pinepain commented on #143
And as far as I remember, `fintech-fab/laravel-queue-rabbitmq` didn't require `php-amqp` extension (wtf?) but list it as suggested, from it [composer.json](https://github.com/fintech-fab/laravel-queue-rabbitmq/blob/606d755f3e217cf9a6848fa91a13853cd219034a/composer.json):

[code]

Further, see [How to report a problem](https://github.com/pdezwart/php-amqp#how-to-report-a-problem), we collected ther

[2015-02-05 14:59] carlhoerberg opened #144 "Redefine channel_max"
Can you redefine channels_max (`#define PHP_AMQP_PROTOCOL_MAX_CHANNELS 256`) in runtime?

[2015-02-05 17:31] pinepain commented on #144
What is the use case for that?

[2015-02-05 19:24] pinepain opened #147 "Segfault when catchable fatal error happens in consumer"
When we run code that yields catchable fatal error (maybe some others too, didn't test that yet) php fails with segfault.

Code to reproduce:
[code]

which gives
[code]
When PHP compiled with debug info, we can see that [assertion in `php_amqp_close_channel`](https://github.com/pdezwart/php-amqp/blob/222c90f27100777fcf3388c5e9cb30998137961c/amqp_channel.c#L101) fails.

[2015-02-05 19:36] pinepain commented on #138
@pkruithof `basic.recover` support added, see https://github.com/pdezwart/php-amqp/pull/145. You can build against [basic_recover](https://github.com/pinepain/php-amqp/tree/basic_recover) branch.

To emit `basic.recover`, call `AMQPChannel::basicRecover()` method.

Note, that `basic.recover` **may redeliver zero or more messages**. For example, if you have only one consumer and you call `basic.rec

[2015-02-06 08:32] pkruithof commented on #138
Thank you!

Could you explain why this is?

[2015-02-06 12:35] pinepain commented on #138
I was a bit wrong, sorry.

It *will looks like* no messages will be redeliverd in case of single consumer if you will still have that consumer stay active because messages will be redelivered back to that consumer. If you will have other consumers, even then some messages will be redelivered back to original consumer that didn't ack that message first.

[2015-02-06 22:00] lstrojny commented on #143
Closing

[2015-02-06 22:00] #143 closed

[2015-02-06 22:00] lstrojny commented on #95
I can reproduce a segfault with beta2, cannot yet tell if it is the same.

[2015-02-07 02:30] lstrojny opened #149 "Segfault in 1.6.0beta2"
When running our app with 1.6.0beta2 instead of 1.4.0 the following stack trace happens.

[code]

[2015-02-07 02:31] lstrojny commented on #112
Ping @blacksonic

[2015-02-07 02:31] lstrojny commented on #108
Closing

[2015-02-07 02:31] #108 closed

[2015-02-07 12:02] pinepain commented on #108
This issue should be fixed in 1.6.0.

[2015-02-07 12:09] pinepain commented on #149
It's not clear from this stack trace what it the actual cause of segfault.

Can you provide code to reproduce this issue and specify environment for it?

Also, do you expect this issue against https://github.com/pdezwart/php-amqp/pull/148 ?

[2015-02-07 12:35] pinepain commented on #113
That doesn't work strait this way. As AMQP uses connection multiplexing (channels) and as it also has numerous methods different from `basic.get-ok`, `basic.get-empty`, `basic.deliver`  and `basic.return` (methods that holds messages). Also you will have to deal manually with AMQP frames and decode them, so what you'll actually get - [php-amqplib](https://github.com/videlalvaro/php-amqplib) but in

[2015-02-07 15:10] blacksonic commented on #112
havent checked it, because not used amqp for queue processing

[2015-02-07 15:39] carlhoerberg commented on #144
Seems like the library can't negotiate down the channel limit of the server has a lower limit.

[2015-02-07 16:50] #147 closed

[2015-02-07 19:15] pinepain commented on #144
What AMQP broker do you use? Can you show us server log entries related to you problem and show what kind of exception occurs in php and how it looks like? Can you specify environment and provide us example to reproduce the issue?

As a workaround (if the issue really about max-channels limit) we can add extra parameter to `$credentials` array in `AMQPConnection::__construct()` (which might be goo

[2015-02-07 21:18] carlhoerberg commented on #144
RabbitMQ
On Feb 7, 2015 9:15 PM, "Bogdan Padalko" <notifications@github.com> wrote:

[2015-02-08 12:56] pinepain commented on #144
What about logs, env, etc?

[2015-02-08 13:18] pinepain commented on #144
@carlhoerberg please provide more details on issue, while I cant reproduce any strange behavior when broker has lower, higher `channel_max` set and when it is default (not defined).

[2015-02-08 13:50] #138 closed

[2015-02-08 15:11] tlshaheen commented on #144
@pinepain I'm encountering this problem when accessing RabbitMQ managed by CloudAMQP. Running PHP 5.4 and using the https://github.com/fintech-fab/laravel-queue-rabbitmq interface.

CloudAMQP has `channel_max` restrictions configured for the RabbitMQ servers. So when I try to make a connection to the RabbitMQ server using the default PHP-AMQP/fintech-fab setup, I get rejected because the `channel_

[2015-02-08 15:38] pinepain commented on #144
Please, specify which php-amqp and librabbitmq-c do you use.

I configured lower `channel-max` (I tried 128, 2, 1280) on testing RabbitMQ but I didn't experience any issues.

I have "Little Lemur" free plan from CloudAMQP with 3 concurrent connections limit (funny, I can establish 4 of them, didn't tried more) and nothing suspicious.

I realize that manually specifying `channel-max` is pretty good

[2015-02-08 16:58] tlshaheen commented on #144
[php-amqp 1.4.0](http://pecl.php.net/package/amqp/1.4.0) and [rabbitmq-c v0.5.2](https://github.com/alanxz/rabbitmq-c/releases/tag/v0.5.2).

I'm able to make a connection to my Little Lemur free plan as well right now. @carlhoerberg, is the `channel-max` restriction still temporarily removed?

[2015-02-08 16:59] carlhoerberg commented on #144
It's temporarily removed yes
On Feb 8, 2015 6:58 PM, "Luke Shaheen" <notifications@github.com> wrote:

[2015-02-08 17:22] tlshaheen commented on #144
@carlhoerberg What is the `max-channel` restriction normally set to, and how's it set?

[2015-02-08 17:59] pinepain commented on #144
@tlshaheen, please, try [1.6.0beta2](http://pecl.php.net/package/amqp/1.6.0beta2), it has max channels limit set to 256.

I just tried to downgrade to 1.4.0 and that is true that issue exists, this is what i get in RabbitMQ logs:
[code]
running simple script

[code]

Again, I cant reproduce this issue on latest [1.6.0beta2](http://pecl.php.net/package/amqp/1.6.0beta2). I highly recommend use lates

[2015-02-09 14:17] tlshaheen commented on #144
@pinepain Thanks for looking into this. I've upgraded to [1.6.0beta2](http://pecl.php.net/package/amqp/1.6.0beta2) and it's working. I look forward to seeing the channel_max support!

[2015-02-09 21:38] pinepain commented on #149
@lstrojny, do you experience this issue after merging https://github.com/pdezwart/php-amqp/issues/149?

[2015-02-09 22:38] lstrojny commented on #149
I do. Forgot to mention that I tried applying #148 before merging and it didn’t help :cry:

[2015-02-09 23:12] pinepain commented on #149
Can you prove minimal example script to reproduce error (and specify
environment for it)?

On Tuesday, February 10, 2015, Lars Strojny <notifications@github.com>
wrote:

--
Regards,
Bogdan Padalko                                           +380 98 377 80 61

[2015-02-11 14:30] lstrojny commented on #149
Unfortunately not yet as it happens while setting up our app (which is basically loading Symfony’s DI)

[2015-02-13 18:31] avinash240 opened #150 "Please add method to close a channel ala RabbitMQ Java, Python and other clients"
We currently generate a new channel for each call into a specific block of code in a long running process.  I'd expect the the destruction of the channel to reduce the "used_slot" attribute on the connection resource object.  However, it does not so we end up in a situation where we try to get a new channel and it fails, even though there is only one channel on the connection.

Some sample code il

[2015-02-13 18:59] pinepain commented on #150
Hey @avinash240 ! Can you provide more info on your issue, especially what php-amqp version you are using. If you are new at php-amqp troubleshooting, I would suggest you to look through [How to report a problem](https://github.com/pdezwart/php-amqp#how-to-report-a-problem) readme section.

P.S.: On 1.6.0beta2 I can't reproduce behavior you specified.

[2015-02-13 19:18] avinash240 commented on #150
Sorry I should have read that, I'm using 1.4.0.  The max channel connection count is set at 254 1.4.0, so that code above errors out, in 1.6.0beta2 I see it's set at ~65k, so 1k wouldn't trigger it.

What I'm getting at, is if I create a channel object, **it increments the used_slots int inside the connection resource object**:

Line: 252 of amqp_connection_resource.c
[code]

If that channel objec

[2015-02-13 19:42] pinepain commented on #150
Just try against latest fresh 1.6.0beta2 and install fresh rabbitmq-c (0.5.2 as of written).

P.S. `used_slots` decremented in a few lines below, see line 265:

    		resource->used_slots--;

[2015-02-13 20:35] avinash240 commented on #150
Yes, that's called in php_amqp_connection_resource_unregister_channel() which is only called when the connection is instantiated or disconnected.  It's not called on channel destruction.  On a side note I tried install 1.6.0beta2 from pecl and it error'd out on me.  It's complaining about a missing symbol which makes me believe the version of librabbitmq I have isn't up to date enough.

[2015-02-14 10:38] pinepain commented on #150
Yes, it required fresh `librabbitmq`.

*Further text is about mainline php-amqp version. Note, that we do not backport features and fixes to older versions, we just release new one with fix or improvement. We do not offer pre-built packages not for php-amqp nor for librabbitmq*.

The rest you are talking about sounds strange for me. Channel closing done it it destructor (at least it should be and

[2015-02-14 13:56] pinepain commented on #144
Update on issue: I've added `frame_max` and `heartbeat` values gettters to rabbitmq-c (https://github.com/alanxz/rabbitmq-c/pull/244) and when new version of rabbitmq-c will be released, I will add control over `channel_max`, `frame_max` and `heartbeat` (as well as partial support for heartbeats - partial because of how rabbitmq-c handles it - only during blocking calls).

I guess ETA can be updat

[2015-02-19 16:31] tlshaheen opened #151 "Unable to load dynamic library '/usr/lib/php5/20100525/amqp.so' on Ubuntu"
I'm having a similar issue to https://github.com/pdezwart/php-amqp/issues/87. However, the steps he used to fix it have not fixed the issue for me.

After running all the installs, I get a `PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib/php5/20100525/amqp.so' - /usr/lib/php5/20100525/amqp.so: undefined symbol: amqp_empty_table in Unknown on line 0` error when I try to load PHP

[2015-02-19 17:31] pinepain commented on #151
Too much of `librabbitmq.so`. Looks like one from `/usr/local/lib` linked (`-L/usr/local/lib -lrabbitmq`). I would recommend you to remove all librabbitmq libs and headers and reinstall it from scratches.

[2015-02-19 17:51] tlshaheen commented on #151
@pinepain I'll do that and get you fresh install logs. I'll remove all the librabbitmq files from `/usr/lib`, `/usr/local/lib`, and `/usr/local/lib/lib/x86_64-linux-gnu`. Where else should I remove?

[2015-02-19 18:04] tlshaheen commented on #151
@pinepain Ok, I cleared out all the librabbit files that `find -iname "*rabbit*"` could find in `/usr`.

Re-installed rabbitmq-c v0.5.2 and amqp v.1.6.0beta2.

I'm now back to the original error I had that lead me to #87 : `PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib/php5/20100525/amqp.so' - librabbitmq.so.1: cannot open shared object file: No such file or directory in Unkn

[2015-02-19 19:03] pinepain commented on #151
I really can't get what is exactly wrong, but looks like the problem is that `librabbitmq` is not properly installed, at least `php-amqp` tries to load it from `/usr/local/lib`, I guess. As you have extension compiled, it means that header files are successfully located. You can try to link  `librabbitmq.so` and company from `/usr/local/lib/x86_64-linux-gnu` to `/usr/local/lib` and if it work, the

[2015-02-19 20:27] tlshaheen commented on #151
@pinepain The symbolic link did it. I made the stupid mistake at first with https://github.com/pdezwart/php-amqp/issues/87#issuecomment-36344687 and just copy and pasted his symbolic link code; not realizing my filepath was different, and that I needed to make a change.

Running `sudo ln -s /usr/local/lib/x86_64-linux-gnu/librabbitmq.so.1 /usr/local/lib/librabbitmq.so.1` and restarting Apache fixe

[2015-02-20 11:38] sshilko commented on #25
Looks stable to me so far, deployed with
[code]
Pushed to QA for a week, then slowly to production, as expected (see above) saved around
**10ms** of time average per request

pure php time per request
![amqp](https://cloud.githubusercontent.com/assets/1147808/6285504/e615d06a-b8fc-11e4-9c12-4f00b3494b23.jpg)

[2015-02-25 14:04] ryandesign opened #152 "error: too few arguments to function call, expected 9, have 7"
Hello, I am the maintainer of rabbitmq-c and php-amqp in the MacPorts package management system. I updated rabbitmq-c from 0.5.2 to 0.6.0 yesterday, and now realized php-amqp doesn't build anymore with this version. I tested php-amqp 1.4.0, 1.6.0beta2, and the latest version in your repository. The error is:

[code]

[2015-02-25 15:25] pinepain commented on #152
Hi. Which rabbitmq-c version do you have? Against what rabbitmq-c did you build php-amqp? What rabbitmq-c library loaded?

[2015-02-25 16:09] ryandesign commented on #152
rabbitmq-c version 0.6.0.

[2015-02-25 16:43] pinepain commented on #152
Confirmed. Library check is wrong, I will fix that soon.

[2015-02-26 22:19] lstrojny commented on #152
Closing

[2015-02-26 22:19] #152 closed

[2015-02-26 22:20] #151 closed

[2015-02-26 22:21] lstrojny commented on #140
I would like to resolve #149, then ship a beta3 and be done with it. @pinepain agreed?

[2015-02-26 22:38] lstrojny commented on #149
Here is a new backtrace:

[code]

[2015-02-26 22:43] lstrojny commented on #149
With proper source files in place:
[code]

[2015-02-27 12:50] pinepain commented on #149
Can you provide example to reproduce the issue and specify environment and flow to reproduce segfault? From these bt it is not clear what is the problem and whether it about php-amqp extension.

[2015-02-27 12:52] pinepain commented on #140
I would also suggest to add following issues to 1.6.0 milestone:

 - Redefine channel_max https://github.com/pdezwart/php-amqp/issues/144: I would suggest to move `channel_max`, `frame_max` and `hearbeat` connection settings to userspace (via connection constructor argumenst). This will let use php-amqp extension with custom AMQP broker configuration and also will bring limited heartbeat support (

[2015-02-27 12:54] pinepain commented on #140
I would also propose to add rabbitmq-c version check during php-amqp configuration and simply drop old rabbitmq-c versions support.

[2015-02-27 17:12] travisghansen opened #154 "build failure against librabbitmq-c-0.6.0"
/home/thansen/Projects/arch-chaos/packages/php-amqp/src/amqp-1.6.0beta2/amqp_exchange.c:485:2: error: too few arguments to function ‘amqp_exchange_declare’
  amqp_exchange_declare(
  ^
In file included from /usr/include/amqp.h:740:0,
                 from /home/thansen/Projects/arch-chaos/packages/php-amqp/src/amqp-1.6.0beta2/amqp_exchange.c:42:
/usr/include/amqp_framing.h:798:11: note: declared h

[2015-02-27 17:35] pinepain commented on #154
Duplicate of https://github.com/pdezwart/php-amqp/issues/152.

Should be fixed in master branch by pull request https://github.com/pdezwart/php-amqp/pull/153.

[2015-02-27 18:13] travisghansen commented on #154
OK excellent.  I'll wait for a release!

[2015-02-27 18:48] lstrojny commented on #154
Closing as duplicate

[2015-02-27 18:48] #154 closed

[2015-02-27 18:50] lstrojny commented on #140
@pinepain fine with incrementing required version to 0.6.0, package.xml is a low hanging fruit but also not terribly important and #144 is for me a nice to have, do you agree?

[2015-03-10 21:43] travisghansen commented on #152
Any chance we can get a tarball release (on php.net) with this in it?

[2015-03-30 10:56] anton-shirikov opened #155 "RabbitMQ's Direct reply-to"
I've been trying to implement RabbitMQ's [direct reply-to](https://www.rabbitmq.com/direct-reply-to.html) and there seems to be a problem.

#### First attempt:
[code]

With amqp 1.4.0 the producer hangs on consume and rabbitmq logs contain this error:
[code]
With amqp 1.6.0beta2 producer recognizes the error and throws exception:
[code]

#### Second attempt (kinda working):

Judging from this repl

[2015-04-01 14:28] rcrowe opened #156 "Batch publishing"
Is it possible to batch a number of messages before being sent?

We currently send thousands of amqp requests in a loop & it would be nice to batch these up to be more performant.

[2015-04-01 16:29] pinepain commented on #156
Batch publishing is not something from AMQP protocol, so basically no, it is not possible.

[2015-04-07 09:06] anton-shirikov commented on #155
Any feedback ? Is there any chance this will be implemented in the near future?

Thank you

[2015-04-08 22:11] cboden commented on #17
+1 on having English documentation

[2015-04-09 17:41] avinash240 commented on #150
**$conn->getUsedChannels()** isn't in amqp 1.4.0, so I don't know what version you were running that tes with.  What is the current mainline version?  I just checked  out the latest from trunk and it does appear used_slots is being decremented on a channel going away:

    int php_amqp_connection_resource_unregister_channel(amqp_connection_resource *resource,   amqp_channel_t channel_id)
    {

[2015-04-09 22:31] pinepain commented on #150
Hi, thanks for paying attention to code quality!

For now [v1.6.0beta2](https://github.com/pdezwart/php-amqp/tree/v1.6.0beta2) is latest tagged version, which still in beta (btw, all GA available releases are shown on https://pecl.php.net/package/amqp, but you can also look for fresh tags in github repo too).

As to decrementing, in earlier versions there was a lot of code that didn't work properl

[2015-04-09 22:37] pinepain commented on #149
@lstrojny  ping

[2015-04-10 01:30] pinepain commented on #155
Hi Anton, sorry for late feedback. I am a bit overcommited last time.

With the following script:

[code]
inside projects Vagrant box I get such output:

[code]

which is definitely not what we want.

I will work on a bug fix within a few days.

I guess we shouldn't send multiple `basic.consume` requests to the same queue, one is enough (and most time this is desired behavior). Keeping in mind tha

[2015-04-10 01:37] pinepain commented on #17
Docs was removed from php.net website while they are out of sync and pretty outdated. For now, stubs are the only reliable documentation (as well as tests). I really sorry that we don't have any docs.

I hope we'll get good docs and examples for next major release.

[2015-04-10 02:33] pinepain commented on #155
Can you attach minimal examples that works for you (both php-amqp and phpamqplib)?

[2015-04-10 09:47] anton-shirikov commented on #155
Thank you for your reply.

I suppose we need a non-blocking ```basic.consume``` and a way to consume later without sending ```basic.consume``` again (Exactly what you pointed out).

phpamqplib in my first post example is working
Conceptually your example for php-amqp is valid as well

[2015-04-10 12:34] pinepain commented on #155
Sorry, I can't get it working. I even post a request (https://groups.google.com/forum/#!topic/rabbitmq-users/wHYwE6DKuKE) to [rabbitmq-users group](https://groups.google.com/forum/#!topic/rabbitmq-users).

Which RabbitMQ version do you run your example on? Can you post complete code to reproduce desired behavior with php-amqplib?

[2015-04-10 13:49] anton-shirikov commented on #155
RabbitMQ version is 3.5.0.
I've used docker to setup environment. If it helps, I can post Dockerfile / docker-compose.yml config that was used

Code:

producer.php
[code]

consumer.php writtern using php-amqp extension (i've used same consumer as for my php-amqp tests)
[code]

[2015-04-10 16:47] pinepain commented on #155
Thanks. Firs time I was biased a bit by partial examples you provided (I wasn't familiar with direct reply-to right before yesterday night). I made changes that now allow us to use direct reply-to, see PR https://github.com/pdezwart/php-amqp/pull/158.

[2015-04-10 17:05] anton-shirikov commented on #155
Thank you

[2015-04-10 18:20] pinepain commented on #155
You're welcome. Check the latest version now, there was dumb mistakes which should be fixed now (tests are green).

[2015-04-13 09:16] anton-shirikov commented on #155
Well it looks valid to me. I am not sure when I'll get the time to verify it myself, sorry.

[2015-04-14 14:55] GeorgeFarikson opened #159 "Error: too few arguments to function 'amqp_exchange_declare'"
I try to install amqp-1.6.0beta2 via PECL and see error "Error: too few arguments to function 'amqp_exchange_declare'". Rabbitmq-c cloned from - https://github.com/alanxz/rabbitmq-c.git with tag v0.6.0.

OS: Ubuntu 14.10

[2015-04-14 18:21] stof commented on #120
why would you register stubs on Packagist ? Stubs are not working code anyway, so there is no real reason to define a dependency on them with composer

[2015-04-15 09:52] pinepain commented on #120
It was kinda experiment. Anyway, I see nothing dramatically wrong to provide stubs to users via packagist,  so they can just `require pdezwart/php-amqp-stubs: *` and have nice code completion for amqp-related stuff. As for now, it is a solution that may work, for vast majority of php-amqp-beginners.

[2015-04-15 10:09] bsll opened #160 ""make test" failure when I complete the "make"."
I use the php-5.6.0 ,and amqp-1.4.0, rabbitmq-c-0.5.2 .

I can finish the process,but when I run the "make test",I can't get the all passed results.

Like this:

PHP         : /usr/local/php56/bin/php
PHP_SAPI    : cli
PHP_VERSION : 5.6.0
ZEND_VERSION: 2.6.0
PHP_OS      : Linux - Linux hp1 2.6.32-431.el6.x86_64 #1 SMP Fri Nov 22 03:15:09 UTC 2013 x86_64
INI actual  : /home/cikuu/wxh/rabbitmq/amqp-

[2015-04-15 15:22] pinepain commented on #160
Please, post also [`test-report.sh`](https://github.com/pdezwart/php-amqp/blob/master/test-report.sh) command output and specify RabbitMQ version you use.

[2015-04-15 16:32] lstrojny commented on #159
Which version of librabbitmq do you use?

[2015-04-15 16:32] #120 closed

[2015-04-15 16:33] #17 closed

[2015-04-15 17:39] pinepain commented on #159
Note, that compiled and linked library .so files may be different, so in most cases you should better remove older `librabbitmq` versions and install fresh one on top.

[2015-04-15 20:09] GeorgeFarikson commented on #159
I use version of librabbitmq 0.6.0 cloned from https://github.com/alanxz/rabbitmq-c.
inepain: i tried to remove older librabbitmq and install different versions for compatibility, but each time received an error with compile. The same day I installed it on Debian without problems using the MAKE on compile, but on try install on Ubuntu (use CMAKE compiler) i have some problem with compatibility, ma

[2015-04-16 02:51] bsll commented on #160
I don't know about the test-report.sh.
the process is like this:
tar zxvf amqp-1.4.0.tgz && cd amqp-1.4.0
/usr/local/php56/bin/phpize

Configuring for:
PHP Api Version:         20131106
Zend Module Api No:      20131226
Zend Extension Api No:   220131226

./configure --with-php-config=/usr/local/php56/bin/php-config --with-amqp --with-librabbitmq-dir=/usr/local/librabbitmq/

checking for grep that

[2015-04-16 08:56] pinepain commented on #160
[`test-report.sh`](https://github.com/pdezwart/php-amqp/blob/master/test-report.sh) is just a shell script that show failed tests diffs and other details. It doesn't packaged into pecl tar.gz, but you can get it from repository any time. It doesn't have any external dependencies (and works with any php extension).

Please, post also against what RabbitMQ version do you run tests. It is important.

[2015-04-16 09:37] pinepain commented on #159
Look how we do it in dev environment in [current `provision.sh`](https://github.com/pdezwart/php-amqp/commit/f3fa5c4203426873dd1e00bc0da589bf77bc7a8b#diff-cc8d2c64d68b464acd2837ece8e20711R71) script (see the rabbitmq-c related part).

As to Ubuntu packages, `librabbitmq` is often quite outdated there (even [in Vivid it is 0.5.2](http://packages.ubuntu.com/source/vivid/librabbitmq)), so relying on

[2015-04-16 10:02] stof commented on #144
@pinepain I tried installing the beta version of 1.6 on my machine, but I get an error:

[code]

Is php-amqp 1.6 incompatible with librabbitmq 0.4.1 (which is the one available on Ubuntu 14.04) ?

[2015-04-16 13:00] lstrojny commented on #144
@stof yep, at least librabbitmq 0.5.2 is now required

[2015-04-16 14:30] stof commented on #159
@pinepain I'm getting the same error with librabbitmq 0.6.0 (and I removed the apt package first so I don't have any other version)

[2015-04-16 14:35] stof commented on #159
@pinepain I suspect it is because https://github.com/pdezwart/php-amqp/pull/153 was merged only after the beta2 release. any chance to release a beta3 on pecl ?

[2015-04-16 18:22] pinepain commented on #159
@stof, @GeorgeFarikson  I'm terribly sorry. For some reason I was sure beta3 already released, but then I remember that we have in-progress issues that we planed to close and merge before beta3 release.

@lstrojny can you release current master as 1.6.0beta3?

As to [issue #144 Redefine channel_max](https://github.com/pdezwart/php-amqp/issues/144), it is in progress, but I'm a bit overcommited now

[2015-04-16 19:28] GeorgeFarikson commented on #159
@pinepain so I hope you find time to close your issues, but now i got successfully install
```librabbitmq 0.5.2```
from here http://archive.ubuntu.com/ubuntu/pool/universe/libr/librabbitmq/librabbitmq_0.5.2.orig.tar.gz use manual compile but also had to install the ```apt-get install pkg-config```.
Then I installed amqp-1.4.0 ```pecl install amqp-1.4.0```

I'ts worked! Please let me know how to so

[2015-04-18 15:43] lstrojny commented on #159
1.6.0 beta3 has been released

[2015-04-20 11:06] stof opened #161 "segfault in PHP-FPM with 1.6.0-beta3"
I installed the 1.6.0beta3 release (with librabbitmq 0.5.2) and this triggers a segfault in PHP-FPM (the cli seems to work fine):

[code]

I'm using ``PHP 5.6.7-1+deb.sury.org~trusty+1``, with Xdebug 2.2.5

[2015-04-20 11:12] pinepain commented on #161
Can you provide the php code that fails? Or does extension itself cause segfault?

[2015-04-20 15:54] stof commented on #161
the extension crashes when starting the PHP-FPM service

[2015-04-20 17:09] GeorgeFarikson commented on #159
Thank you for your help! *beta3 already to install and working I'm check it and close this issue

[2015-04-20 17:09] #159 closed

[2015-04-23 19:56] pinepain commented on #161
Hi, I tried to reproduce your issue within our Vagrant dev environment without any luck. Can you try to reproduce the issue within codebase from my branch (https://github.com/pinepain/php-amqp/tree/direct_reply_to) where provisioning get fixed?

[2015-04-24 13:02] stof opened #162 "Please document the supported keys for array arguments"
Many methods accept an array of settings as argument. Please document the supported keys in these arrays

[2015-04-24 14:11] pinepain commented on #162
The syntax and semantics of that arguments depends on the AMQP broker implementation. So if you use RabbitMQ, you should refer to its docs, if you are fan of ActiveMQ, then you go with its docs.

[2015-05-05 02:21] bsll commented on #160
I'm so sorry for the delay reply. I have solved the problem.I find that it can work even if the 'make test' has many failures.  Anyway,,thanks..

[2015-05-05 02:21] #160 closed

[2015-05-19 08:39] jpastoor commented on #140
Any updated schedule for a stable release?

[2015-05-20 11:58] pinepain commented on #140
@lstrojny sorry, I've been busy and totally overcommitted, I will try to finish on #144 and hope we'll make more users happy. Once again, sorry for such delay.

[2015-05-21 08:32] lstrojny commented on #140
@pinepain no need to apologize, I am really greatfull for your contributions.

[2015-05-24 13:19] digipigeon commented on #118
+1 for this feature.

[2015-05-29 13:23] #144 closed

[2015-06-03 22:13] tompedals opened #165 "AMQPQueue passed to `consume` callable when consuming multiple queues"
When consuming multiple queues (as in the `amqpqueue_consume_multiple.phpt` test) the AMQPQueue instance that is passed to the callback will always be the queue which was passed the callable. If the message sent to the other queue I would expect that AMQPQueue instance to be passed to the callback.

At the moment I'm using a direct exchange so using the message routing key to determine which queue

[2015-06-04 11:56] pinepain commented on #165
Hi! Yes, this is expected behavior, though it is not intuitive. This is happens due to internal legacy architecture. Eliminating this issue under current architecture will significantly increase code complexity and possible point of failures. We expect this to be fixed in next major release (no ETA for now).

[2015-06-04 14:28] tompedals commented on #165
Thanks for the clarification @pinepain. I've worked around it for now as I can figure out which queue I need from the message routing key.

[2015-06-04 14:28] #165 closed

[2015-06-12 12:16] pinepain commented on #140
@lstrojny After mergetd https://github.com/pdezwart/php-amqp/pull/164 and https://github.com/pdezwart/php-amqp/pull/166, can we roll new beta and plan release schedule?

[2015-06-12 12:25] lstrojny commented on #140
Soudns good!

[2015-06-12 12:26] lstrojny commented on #140
Let’s roll another beta, wait two more weeks and go stable if nothing major happens. Agreed?

[2015-06-12 12:30] pinepain commented on #140
Yeah, it would be great.

[2015-06-17 08:28] sshilko opened #167 "Update PHP7 compatibility status"
Please update wiki about whether its php7-ready
https://github.com/gophp7/gophp7-ext/wiki/extensions-catalog

[2015-06-22 14:17] lyrixx opened #168 "Expose more information about PHP API"
Hello.

I had an issue with PHPUnit: https://github.com/sebastianbergmann/phpunit/issues/1652#issuecomment-113370059
and the maintainer of PHPUnit asked me to create an issue here

I also created a gist to easily reproduce the error: https://gist.github.com/lyrixx/c943e7e046ec325308fa#file-readme-md

I hope you got all information.

Thanks

[2015-06-22 17:18] lstrojny commented on #168
@lyrixx can you edit the PHPUnit source code and dump the generated mock object code (at the end of `PHPUnit_Framework_MockObject_Generator::generateMock()`)?

[2015-07-06 13:49] jippi commented on #167
:+1:

[2015-07-08 07:46] jderusse commented on #167
:+1: PHP7 beta 1 is released

[2015-07-11 22:13] ablyler opened #169 "v1.4.0 fails to compile against rabbitmq-c 0.7.0"
Issue was reported at https://github.com/Homebrew/homebrew-php/issues/1812

[2015-07-11 22:20] pinepain commented on #169
Does 1.6.0beta3 works?

[2015-07-11 22:23] ablyler commented on #169
@pinepain: yes, that version does work. is it safe for us to consider "1.6.0beta3" stable?

[2015-07-11 22:33] pinepain commented on #140
@lstrojny, beta live for 1 month, looks like it is ok or nobody tried it :smile:. Going stable?

[2015-07-11 22:34] pinepain commented on #169
Yes.

tl;dr

Here are the the changes made since 1.4.0 - [package.xml#L43-L73](https://github.com/pdezwart/php-amqp/blob/85f6dc3f3b4c395cfadb4f72d78998f950bd864a/package.xml#L43-L73). We had numerous fixes and improvements, but personally I didn't test it in production. We run valgrind checks and had tests, so you can give some trust to 1.6.0beta3. It is released month ago, so I guess it will beco

[2015-07-11 22:39] ablyler commented on #169
@pinepain: thanks! i've gone ahead and updated it in homebrew-php

[2015-07-11 22:39] #169 closed

[2015-07-11 22:41] pinepain commented on #169
@ablyler thanks!

[2015-07-13 11:49] lstrojny commented on #140
Agreed, let’s ship.

[2015-07-16 10:46] stof opened #170 "getDeliveryMode always return 0"
This makes the method unusable, as 0 is not a valid delivery mode.

See https://github.com/swarrot/swarrot/issues/103 for the place where the issue was found

[2015-07-16 11:16] lstrojny commented on #140
@pinepain any idea on #170 ?

[2015-07-16 16:45] pinepain commented on #140
I'll give it a look.

[2015-07-17 21:21] pinepain commented on #170
I'll give it a look. Which php, php-amqp, rabbitmq-c and RabbitMQ version do you use?

[2015-07-18 14:04] pinepain commented on #170
Please, take a look at [amqpexchange_publish_with_properties.phpt#L125](https://github.com/pdezwart/php-amqp/blob/222c90f27100777fcf3388c5e9cb30998137961c/tests/amqpexchange_publish_with_properties.phpt#L126) test case whether `AMQPEnvelope::getDeliveryMode()` returns `1`.

Can you provide reproducible example for cases when `AMQPEnvelope::getDeliveryMode()` should return `1` but returns `0` inste

[2015-07-18 14:10] pinepain commented on #170
Confirmed. `delivery mode` property should be 1 for nonpersistent and 2 for persistent messages.

[2015-07-20 03:10] guilhermeblanco commented on #167
**Tests** YES
**Docs** NO
**Works on PHP5** YES
**Works on PHP7** NO
**Good on PHP 7** NO

Does not compile, does not work as it currently stands on PHP7. I started to do changes to turn it into compatible through this compare: https://github.com/pdezwart/php-amqp/compare/master...guilhermeblanco:phpng
It's still heavily WIP and not compiling... yet. =(

[2015-07-20 06:08] pinepain commented on #167
@guilhermeblanco Nice job! Can you clarify whether PHP-7 changes will be BC for PHP-5?

[2015-07-20 11:32] lstrojny commented on #167
@guilhermeblanco awesome!

[2015-07-20 12:47] guilhermeblanco commented on #167
@pinepain They cannot be... too many "catastrophic" changes to try BC (specially around string and hash APIs).
I also took advantage of this update to remove deprecated features on the extension.

[2015-07-20 17:39] pinepain commented on #167
@guilhermeblanco I've looked through changes you've made. Impressive. How do you see extension roadmap?

P.S.: we have Vagrant file and provisioner script in repo, please update them according to your dev environment so others can join you.

[2015-07-20 17:59] guilhermeblanco commented on #167
@pinepain there're so many changes required that I don't know how to start sometimes.
Usually I take the https://wiki.php.net/phpng-upgrading page and choose one of the issues, then I start updating everywhere. However, this extension seems to lack a lot of update in the last couple of years that scares me sometimes.
A good example is this method: https://github.com/pdezwart/php-amqp/blob/master/a

[2015-07-20 21:07] pinepain commented on #167
@guilhermeblanco I really appreciate what you already done. I guess working now is better than perfect but never. I will try to jump on board, but for now I don't have even free 1h like you, even per week. Though, I'm really interested in PHP7 changes and will try to do my best to provide any help, fells free to contact me here or personally, if I can do anything, I spent a while on this extension

[2015-07-23 19:22] jbboehr commented on #167
It is possible (generally, at least) to get it working on both PHP5 and PHP7. See:
https://github.com/jedisct1/libsodium-php/pull/23/files#diff-0f29a49441e3d73202e3abaab7c324b0R73
https://github.com/jbboehr/php-mustache/pull/11/files#diff-7905585bdfbda727fb2f2554f4d8a913R13
https://github.com/jbboehr/php-epeg/blob/master/epeg.c#L37

[2015-07-24 07:33] pinepain commented on #167
@jbboehr Thanks for examples! That is exactly what I was thinking off. I guess there already is some kind of php5-to-php7 set of macro. Though, some parts of php-amqp extension are really outdated and should be rewritten.

[2015-07-24 15:26] guilhermeblanco commented on #167
@jbboehr none of mentioned extensions heavily use hashes as AMQP, which is one are heavily affected by PHP7.
Surely we can create macros for everything and make it back-compatible, but wouldn't it be better to do a much needed cleanup and set the minimum compatibility to PHP7 in a new release?

[2015-07-24 15:48] jbboehr commented on #167
@guilhermeblanco The hash API has changed a fair bit, I don't think simple wrapper macros will be enough for that part. It might be possible to abstract them with some inline functions, but I haven't seen or developed an example of that yet.

[2015-08-10 06:02] fzerorubigd opened #171 "More detail on failure"
Is there any way to get more detail on errors?

in lot of api you can see " boolean TRUE on success or FALSE on failure." so what? I get a false on declareExchange and I want to know the reason. how I can get that?

For example in golang api, I get this error if I change the parameters :
`Exception (406) Reason: "PRECONDITION_FAILED - inequivalent arg 'durable' for exchange 'events' in vhost '/':

[2015-08-10 06:45] fzerorubigd commented on #171
The false is never happen. Its throw an exception.

[2015-08-10 06:45] #171 closed

[2015-08-25 09:53] c-datculescu commented on #136
Hello. We have recently ran into some weird issues in which cutting off the network between the broker and the publisher ends up in publisher still pushing messages for some amount of time.

isConnected method returns true although network is down, which can lead to some lost messages. Publisher confirms would help mitigate this issue.

Is it possible to have this implemented?

[2015-08-25 10:06] hanikesn commented on #167
Hi everyone,

I have time to port this extension to php7 now, as our product depends on it. I'd like to continue your work @guilhermeblanco and collaborate in the future.

My first step would be to  get it to compile and then maybe do a bit of refactoring, where I could use some pointers as I'm not that experienced with zend engine.

[2015-08-26 14:15] hanikesn commented on #167
Here's my first WIP, I had to comment some stuff out, but the first tests of AMQP_Connection are passing.
https://github.com/hanikesn/php-amqp/tree/phpng

[2015-08-31 13:54] pinepain commented on #136
Hi, sorry for late reply. Yeah, havin `isConnected` return `true` while low-level underlying socket is closed is a known problem - you can't exactly say whether socket without using it.

At this moment there are no [Confirms (aka Publisher Acknowledgements)](https://www.rabbitmq.com/confirms.html) confirms support, mostly because this extension implements AMQP protocol in synchronous way (mostly).

[2015-08-31 15:03] pinepain commented on #140
@lstrojny issue #170 should be fixed by PR #172

[2015-08-31 15:06] pinepain commented on #112
@lstrojny lets' close this issue as it too old and we didn't reproduced it nor getting any feedback for a long time.

[2015-08-31 15:09] pinepain commented on #149
@lstrojny are there any way to reproduce this issue ar should we close it as "Can't reproduce"?

[2015-08-31 16:21] lstrojny commented on #149
I can still reproduce it with the full app but didn’t find time to strip it down to a smaller reproduction case.

[2015-08-31 16:21] #112 closed

[2015-08-31 16:25] pinepain commented on #149
Is php-amqp extension is the cause of that segfault?

[2015-08-31 20:24] c-datculescu commented on #136
Hi. No need to appologise, the work done on maintaining this extension is awesome and it covers most of the usual cases quite ok while being easy to use. Wish i could contribute more in the developmen, but this is unknow territory for me.

The main issue with using phpamqplib is the difference in the api (at least last time i checked). Would be awesome if the apis would be similar. Beyond that, th

[2015-08-31 20:25] pinepain commented on #170
@stof Sorry for delay. Can you join us on discussing PR #172 that attempts to fix this issue?

[2015-09-01 13:01] hanikesn commented on #167
Please see my PR: https://github.com/pdezwart/php-amqp/pull/173

[2015-09-08 10:44] A-j-K commented on #62
#174  Please give feedback there on that PR. Thank you.

[2015-09-14 11:19] c-datculescu commented on #136
Hello.

In the end we went with implementing a bridge between the two libraries, mostly we will use the amqp extension for listening and the php-amqplib for publishing (because of support for publisher acknowledgements). Is available under my profile :)

Best,
Cristian.

[2015-09-14 11:21] c-datculescu opened #175 "Tag a new release version and publish it over pecl"
Hello.

The heartbeat is implemented in the master version of the extension, but is not published under 1.6beta3. We had to build our own package containing librabbitmq-c 0.7.1 and php-amqp extension in order to be able to use it. This is not so ideal.

Is there any reason for which the latest master is not tagged as beta yet?

Best,
Cristian.

[2015-09-18 08:32] remicollet opened #177 "Failed build with librabbitmq 0.5"
1.6.0beta3 build fine with librabbitmq 0.5.x (available in EPEL for RHEL and CentOS, can't be upgrade because of ABI break)

Buildtime:

    /builddir/build/BUILD/more-php56-php-pecl-amqp-1.6.0/NTS/amqp_connection.c:146: warning: implicit declaration of function 'amqp_get_frame_max'
    /builddir/build/BUILD/more-php56-php-pecl-amqp-1.6.0/NTS/amqp_connection.c:154: warning: implicit declaration of

[2015-09-19 12:26] #177 closed

[2015-10-08 14:48] pinepain commented on #167
Here is my PR https://github.com/pdezwart/php-amqp/pull/181 to add PHP 7 support keeping BC for PHP 5 branch.

[2015-11-03 13:31] pinepain commented on #140
@lstrojny can we release 1.6.0 stable from current master (and close all related issues) so that we can merge #181 and then release beta for php7 support (say, name it as 1.7.0)?

[2015-11-03 13:55] lstrojny commented on #140
Makes sense

[2015-11-03 14:12] lstrojny commented on #175
1.6.0 stable has been released

[2015-11-03 14:12] #175 closed

[2015-11-03 14:12] lstrojny commented on #170
1.6.0 stable has been released

[2015-11-03 14:12] #170 closed

[2015-11-03 14:13] lstrojny commented on #140
1.6.0 stable has been released

[2015-11-03 14:13] #140 closed

[2015-11-03 14:13] lstrojny commented on #149
Can’t be reproduced

[2015-11-03 14:13] #149 closed

[2015-11-05 16:03] pinepain commented on #155
@lstrojny this can be closed while fix merget in #158

[2015-11-05 16:12] pinepain commented on #161
@lstrojny propose to close as "can't reproduce".

[2015-11-05 16:13] pinepain commented on #162
@lstrojny propose to close as issue not related to extension itself.

[2015-11-05 16:14] pinepain commented on #95
@lstrojny propose to close as it too old.

[2015-11-05 17:19] pinepain commented on #113
From rabbitmq-c docs for [`int amqp_get_sockfd(amqp_connection_state_t state)`](https://github.com/alanxz/rabbitmq-c/blob/937c10bbe64a36579bc8bafcd29554e786143c86/librabbitmq/amqp.h#L1044) function:

So potential risks from exposing socket for selecting are higher then benefit, so I don't think it worth to do this.

[2015-11-05 17:21] pinepain commented on #117
@lstrojny this fixed in #181, I guess this issue can be closed.

[2015-11-05 17:23] pinepain commented on #150
@lstrojny, propose to close this.

[2015-11-10 12:27] #150 closed

[2015-11-10 12:28] lstrojny commented on #117
No, that is still wrong in the package.xml

[2015-11-10 12:28] #95 closed

[2015-11-10 12:28] #162 closed

[2015-11-10 12:28] #161 closed

[2015-11-10 12:28] #155 closed

[2015-11-10 12:29] lstrojny commented on #117
Ignore what I said, saw the PR change later ;)

[2015-11-10 20:20] pinepain commented on #167
@lstrojny I updated status, this issue can be closed now.

[2015-11-10 20:21] pinepain commented on #117
@lstrojny so everything fine now? Close this one?

[2015-11-11 13:27] #117 closed

[2015-11-11 13:27] lstrojny commented on #117
Yep :+1:

[2015-11-11 13:27] lstrojny commented on #167
#181 got merged

[2015-11-11 13:27] #167 closed

[2015-11-16 03:27] J-Siu opened #183 "AMQPConnection->disconnect() not closing connection on rabbitmq server"
Not sure if this is a rabbitmq server side issue or php-amp issue.

I have following code to compare new connection vs re-using connection. However I discovered that the connection on rabbitmq is not closed, though disconnect() return successful.

[code]

Following is netstat out put from rabbitmq server after the above program is stopped.
[code]

[2015-11-16 03:45] J-Siu opened #184 "AMQPconnection->pconnect() throw exception if connected."
According to AMQPConnection.php stub, pconnect() will initiate a connection with the AMQP broker or reuse an existing one if present. But following code will throw uncaught exception.

[code]
The above code give following error:
[code]

[2015-11-16 11:42] pinepain commented on #184
Hi, this is expected behavior. You can have only one persistent connect with the same connect (look into [Persistent connection](https://github.com/pdezwart/php-amqp#persistent-connection) readme section for more), implementation details can be found on [amqp_connection.c#L155](https://github.com/pdezwart/php-amqp/blob/24178f3f4f037a6655c99904c159a51a01c0ce8c/amqp_connection.c#L155).

As a workaro

[2015-11-16 12:02] pinepain commented on #183
Looks like this is already fixed in 1.7.0 (check 1.7.0alpha1). I would recommend you to check and install the latest version (even unstable).

I can reproduce this with php-amqp 1.6.0, but not with 1.7.0. Probably, this bug was fixed within PR https://github.com/pdezwart/php-amqp/pull/181.

For further discussion, please, specify your OS, PHP, php-amqp, RabbitMQ versions and a way they were instal

[2015-11-16 13:06] J-Siu commented on #184
don't intend to open 2 separate connection, I actually thought co2 will get the connection already opened by co1.

[2015-11-16 15:09] pinepain commented on #184
We decided to not allow two different PHP connection objects rely on single connection while this may lead to hard detectable bugs and unexpected behaviors. If you want to reuse single connection do it explicitly.

[2015-11-16 16:12] #184 closed

[2015-11-16 16:47] J-Siu commented on #184
Ok, no problem. Lets close this one. I checked calling pconnect() twice with co1 works.

Thank you!!

[2015-11-17 02:11] J-Siu commented on #183
I installed 1.7.0 and the issue is fixed. Closing now. Thank you!!!

[2015-11-17 02:11] #183 closed

[2015-12-03 16:35] mikelynn2 opened #187 "make problem with ubuntu 14.04"
this is when manually downloading and compiling.  does same error with pecl install

root@ip-10-3-75-194:~/amqp-1.6.1# make
/bin/bash /root/amqp-1.6.1/libtool --mode=compile cc  -I. -I/root/amqp-1.6.1 -DPHP_ATOM_INC -I/root/amqp-1.6.1/include -I/root/amqp-1.6.1/main -I/root/amqp-1.6.1 -I/usr/include/php5 -I/usr/include/php5/main -I/usr/include/php5/TSRM -I/usr/include/php5/Zend -I/usr/include/php5

[2015-12-03 18:05] pinepain commented on #187
What librabbitmq version do you have?

[2015-12-03 18:18] mikelynn2 commented on #187
Package: librabbitmq1
Priority: optional
Section: libs
Installed-Size: 112
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Michael Fladischer <FladischerMichael@fladi.at>
Architecture: amd64
Source: librabbitmq
Version: 0.4.1-1
Depends: libc6 (>= 2.15), libssl1.0.0 (>= 1.0.0)
Pre-Depends: multiarch-support
Filename: pool/main/libr/librabbitmq/librabbitmq1

[2015-12-03 23:37] pinepain commented on #187
0.4.1 is too outdated, see [requirements](https://github.com/pdezwart/php-amqp#requirements):

[2015-12-07 22:34] mikelynn2 commented on #187
thanks

[2015-12-07 22:34] #187 closed

[2015-12-10 16:17] Taluu commented on #167
Any news for a beta (or let's be crazy, a stable) release for php7 ?

[2015-12-10 16:56] sshilko commented on #167
1.7 works stable on php 5.6 for me
On Dec 10, 2015 5:17 PM, "Baptiste Clavié" <notifications@github.com> wrote:

[2015-12-10 17:21] guilhermeblanco commented on #167
1.7.0alpha1 works nicely on my php7 setup.
I'd recommend librabbitmq 0.7.1 minimum, since the sockets are now handled async internally, giving a significant performance boost.

[2015-12-12 01:16] lstrojny commented on #167
Happy to tag a beta soon. @pinepain agreed?

[2015-12-12 11:06] pinepain commented on #167
Sure, if there are no extra objectives and claims, I would love to see beta and then stable in a week or two.

Does someone track resources usage (memory, connections closing, cpu) closely? If so, such users may provide fine-grained feedback.

[2015-12-12 14:49] sshilko commented on #167
i send around 200k simple messages to rabbitmq exchange via persistent
connection, nothig special.

php 5.6.15
when switching to 1.7 from 1.6.* did not notice any performance gain or
loss: also no difference to lib 0.5.2 or 0.7.1

which is totally fine for me, maybe my rates too low to see difference
On Dec 12, 2015 12:06 PM, "Bogdan Padalko" <notifications@github.com> wrote:

[2015-12-15 15:19] pkruithof opened #188 "`setPort()` and/or `getPort()` is broken on AMQPConnection"
On 1.7.0-alpha1:

[code]

So either `setPort` incorrectly returns `true` here, or `getPort` is broken some way, I think.

[2015-12-15 15:40] pkruithof commented on #188
Same for AMQPQueue:

[code]

[2015-12-15 19:57] pinepain commented on #188
Bug with `AMQPConnection::setPort()` confirmed and should be fixed in #189.

As to `AMQPQueue` flags, from [php_amqp.h, lines 73-74](https://github.com/pdezwart/php-amqp/blob/b5f8ad6da275665dfb871e478a676969bda02d3c/php_amqp.h#L73-L74):\

`AMQP_IFEMPTY` and `AMQP_IFUNUSED` are not valid queue flags, though, they are valid flags for `AMQPQueue::delete()` action.

So behavior you see is expected. JF

[2015-12-15 21:27] pkruithof commented on #188
Thanks for the quick fix!

[2015-12-16 16:51] atm08e opened #190 "Segfault in AMQPQueue::setArguments"
When you call setArguements twice it will cause a segfault in Version 1.6.1/0.7.1. Running the same test case in 1.4.0/0.4.1 exits normally. Perhaps I am using AMQP incorrectly. Please advise.

Backtrace that points to amqp_queue.c:528 being the issue.
[gdb-backtrace.txt](https://github.com/pdezwart/php-amqp/files/64243/gdb-backtrace.txt)

Simple test case that throws the segfault
[code]

Version

[2015-12-16 19:41] pinepain commented on #190
Can you please try php-amqp 1.7.0? We have fixed and improved a lot there (and added PHP 7 support), BC provided.

P.S.:    `AMQPQueue::declare()` and `AMQPExchange::declare()` are deprecated, use `AMQPQueue::declareQueue()` and `AMQPExchange::declareExchange()` (this is due to `declare` is reserved php construct.

[2015-12-17 15:29] atm08e commented on #190
No longer seg faulting in
Version => 1.7.0alpha1
Revision => release
Compiled => Dec 17 2015 @ 10:17:03
AMQP protocol version => 0-9-1
librabbitmq version => 0.7.1
Default max channels per connection => 256
Default max frame size => 131072
Default heartbeats interval => 0

although we are having consumer timeouts now.

Any idea when 1.7.0 will be released?

[2015-12-17 16:03] pinepain commented on #190
Can you clarify about consumer timeouts problem? What default timeouts do you have? Normally they all set to 0 (which means no timeouts).

I guess 1.7.0  will be released in a few weeks or so, but you can use it as is even now.

//cc @lstrojny  (in part about release date)

[2015-12-18 13:25] scaytrase opened #191 "Windows DDL library for PHP7 version"
Please, could you build it for us and put it to PECL?

Current [snaps dir](http://windows.php.net/downloads/pecl/snaps/amqp/) has only beta build with no actual artifacts, only failed logs

[2015-12-21 02:56] HarryBird opened #192 "[PHP7] [1.7.0alpha] Consumer timeout exceed"
hi ~

  I work on php7 and php-amqp-1.7.0 alpha for some test case.

[code]

  my amqp ini config like:
[code]

  when I try to consume the queue , I got a AMQPQueueException like
[code]

  I have a old workspace on php5 & amqp 1.4.0,  run same script and success~
  I think something change in 1.7.0alpha1, would you please follow it~

Thanks~

[2015-12-21 11:11] sshilko commented on #192
[code]

Are those seconds or milliseconds? ( i get alot of "Library error: connection closed unexpectedly" and "Library error: a socket error occurred" when setting values to 2 or 3

[2015-12-21 12:09] pinepain commented on #192
@sshilko those are in seconds, but you can specify timeouts as float (btw, it's a bug that there are int casting) to specify msec part, so something like `2.5` will be real 2 and a half seconds. I'll fix this bug with int casting asap.

[2015-12-21 12:12] sshilko commented on #192
@pinepain thx, ill switch to connect instead of pconnect and will get more debug info and create separate ticket.. i had impression it was milliseconds and thats why "timeout" and "socket closed" appeared.

but there is (for me) something fishy going on around pconnect in 1.7.0alpha+php-fpm5.6+librabbitmq0.7.1 (will open separate issue later on)

[2015-12-21 12:15] pinepain commented on #192
@HarryBird, you have `amqp.read_timeout => 10` so it means that if there are no any incoming data for 10 seconds on connection, exception will be thrown (but you should be able to use channel and underlying connection), so basically if you want to wait for messages forever, just set it to `0`.

[2015-12-21 12:34] HarryBird commented on #192
it's nothing about `amqp.read_timeout` on my workspace.

Any value assign to `amqp.read_timeout`,  I got exception with message "Consumer timeout exceed"  immediately.

[2015-12-21 12:37] pinepain commented on #192
@sshilko, read timeout is set on [amqp_connection_resource.c:179](https://github.com/pdezwart/php-amqp/blob/24178f3f4f037a6655c99904c159a51a01c0ce8c/amqp_connection_resource.c#L179), the rest of timeouts (write and connection) are there too - write timeout setting has the same logic like read, connection timeout differs while timeout passed to rabbitmq-c's API.

If connection was closed by RabbitM

[2015-12-21 12:54] pinepain commented on #192
@HarryBird, ok, let's figure out what's going on there.

Please provide following info:

 - platform info (`uname -a`, `lsb_release -a`)
 - php interpreter version (`php -v`)
 - SAPI mode (cli, fpm, cgi, etc) extension is used in
 - php-amqp extension version (`php --ri amqp`) and a way it was installed (pecl, from sources or binaries, if from binaries, post a link to it, if it an option)
 - libra

[2015-12-21 13:04] sshilko commented on #192
[code]

Getting "Library error: connection closed unexpectedly" (after rabbitmq server restart and w/o restarting php-fpm)
No logs on rabbitmq side for this.

then after restarting php-fom rabbitmq logs show
[code]
so persistent connections connected successfuly

then after some time (w/o trying to send anything.. just idle)
[code]
...

<?php
// ... some code before
try {
    $params = array('host

[2015-12-21 13:18] HarryBird commented on #192
**platform info**
[code]

**php interpreter version**
[code]

**SAPI mode **
[code]

**php-amqp extension version**
[code]

**librabbitmq version and a way it was installed**
[code]

This time i use rabbitmq's official script for test  https://github.com/rabbitmq/rabbitmq-tutorials/blob/master/php-amqp/receive_logs.php

I only change the host and port like this:

[code]

My result like this:

[cod

[2015-12-21 13:21] pinepain commented on #192
@sshilko, from [Detecting Dead TCP Connections with Heartbeats](https://www.rabbitmq.com/heartbeats.html):

As I wrote above, when persistent connection is not in use, php-amqp extension (as well as underlying rabbitmq-c) doesn't not read nor write any data to underlying socket due to being written in synchronous manner (when AMQP is async by it nature). It applied to all incoming data, including

[2015-12-21 13:25] HarryBird commented on #192
I note a strange detail, I dump my amqp connection
[code]

[code]

Focus the read_timeout line ` ["read_timeout":"AMQPConnection":private]=>int(5672) `, it 's be assign by 5672, that my amqp.port

[2015-12-21 13:28] pinepain commented on #192
@HarryBird, yeah, that is already fixed in PR #189 (see https://github.com/pdezwart/php-amqp/pull/189/files#diff-40f7cdf3f96d4346a1418ce7a7af8e92L846 line)

[2015-12-21 13:53] pinepain commented on #192
@HarryBird, I just tried [emit_log.php](https://github.com/rabbitmq/rabbitmq-tutorials/blob/master/php-amqp/emit_log.php) and [receive_logs.php](https://github.com/rabbitmq/rabbitmq-tutorials/blob/master/php-amqp/receive_logs.php) (both as is, without any modification) with and without that `AMQPConnection::setPort()` fix and it works (even without fix 5672 second for read timeout looks is about h

[2015-12-21 13:54] sshilko commented on #192
@pinepain thanks, i imagined it works bit different.
will try [preconnect](https://github.com/pdezwart/php-amqp/blob/master/stubs/AMQPConnection.php#L162) together with closed connect exception match

[2015-12-21 14:03] HarryBird commented on #192
Can you please try to run non-modified scripts again?
=========================

I do not modify anythings except  host & port, because i need connect my rabbitmq server
[code]

[2015-12-21 14:08] HarryBird commented on #192
I apply the bug fix `AMQPConnection::setPort()` on my workspace and the bug fixed....   :)

[2015-12-21 14:10] HarryBird commented on #192
In `receive_logs.php` , AMQPQueue is declare with `AMQP_EXCLUSIVE`.

In `AMQPConnection::setPort()` patch files ` php_amqp.h`

[code]

Is this change affect ?

[2015-12-21 14:15] pinepain commented on #192
@HarryBird, now I don't understand why it is so :smile:.
@HarryBird, no, it doesn't, That diff line removes duplicate `AMQP_EXCLUSIVE` from allowed flags bit mask.

[2015-12-21 14:22] HarryBird commented on #192
Sorry for I am a new guy for php & C, so i can not supply more detail clues  for debug :sweat_smile:

[2015-12-21 14:23] pinepain commented on #192
@sshilko glad to help.

For further readers, the algorithm for persistent connections usage is:

[code]

[2015-12-21 14:24] #188 closed

[2015-12-21 15:03] pinepain commented on #192
@HarryBird, that's ok. So new [1.7.0alpha2](https://pecl.php.net/package/amqp) released, thanks to @lstrojny, so if it fixed you problem, mark issue as solved.

[2015-12-21 15:23] sshilko commented on #192
@pinepain  Library error: a socket error occurred
[code]

First time i get ***Library error: connection closed unexpectedly***
second time after trying pdisconnect() i get ***Library error: a socket error occurred***

same with preconnect()

[2015-12-22 03:22] HarryBird commented on #192
1.7.0alpha2 had fixed this problem.

Thanks for @pinepain @sshilko

[2015-12-22 03:22] #192 closed

[2015-12-22 03:33] pinepain commented on #192
@sshilko problem with persistent connections and stalled connection resource after connection closed by server after missed heartbeats or any library error occurs.

Solution is to force connection closing and free connection resource when any library error occurs while in most cases it means that something significantly unexpected happened which may potentially have negative impact on data integri

[2015-12-22 12:42] pinepain commented on #192
@sshilko, can you please try https://github.com/pinepain/php-amqp/tree/fix_stalled_connection_resource and provide feedback whether it fix the issue and doesn't introduce new one?

[2015-12-22 13:51] sshilko commented on #192
@pinepain i can confirm that i no longer see the "socket error occurred" and only expected
***Library error: connection closed unexpectedly***
Which correctly thrown after ***heartbeat_timeout*** rabbitMQ disconnects the client.

I tested by setting heartbeat=1, so rabbitMQ will disconnect persistent connects after 2 seconds.
so now scenario works as-expected, thx!

1. pconnect()
2. try push()
3.

[2015-12-22 17:40] pinepain commented on #192
@sshilko cool, thanks for reporting and investigating the issue! PR https://github.com/pdezwart/php-amqp/pull/194 addresses this issue.

[2015-12-24 12:58] pinepain commented on #191
I cleaned up windows build config a bit in https://github.com/pinepain/php-amqp/commit/5879bc32826d3a2696cc9a61af676dc185f935d7, but I can't test it anywhere and prove that there are no any other windows-specific errors. Hope we'll roll out a new pecl release after PR https://github.com/pdezwart/php-amqp/pull/194 merged and everything will be fine.

TL;DR

In this issue more general issue revealed

[2015-12-26 19:42] prolic opened #195 "Segmentation fault with PHP 5.6.16"
see also: https://bugs.php.net/bug.php?id=71011

Bug appears in 5.6.15 & 5.6.16.
5.6.11 however is good!
5.6.09 and 5.6.13 seems to be good as well (tested on other machines).

I could not yet isolate the bug, but can show how to reproduce it.

Steps to reproduce:

git clone https://github.com/zendframework/ZendSkeletonApplication
cd ZendSkeletonApplication
composer install
composer require prolic

[2015-12-26 23:08] pinepain commented on #195
Hi! Thanks for reporting!

To help to locate a problem, please provide following info:

 - platform info (`uname -a`, `lsb_release -a`);
 - whether any virtualization used (docket, vagrant, etc.);
 - php interpreter version (`php -v`);
 - SAPI mode (cli, fpm, cgi, etc) extension is used in;
 - php-amqp extension version (`php --ri amqp`) and a way it was installed (pecl, from sources or binaries,

[2015-12-27 14:22] prolic commented on #195
uname -a

Linux sasa-X1 4.2.0-22-generic #27-Ubuntu SMP Thu Dec 17 22:57:08 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

lsb_release -a

No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 15.10
Release:        15.10
Codename:       wily

no docker / vagrant in use, plain ubuntu, tested on several machines

php -v
PHP 5.6.16 (cli) (built: Dec  1 2015 21:29:40)
(problem is also

[2015-12-27 14:23] prolic commented on #195
Will update to librabbitmq-c v0.7.1 and test again.

[2015-12-27 14:26] pinepain commented on #195
Please, try php-amqp 1.7.0alpha2 or from my branch from PR https://github.com/pdezwart/php-amqp/pull/194. Using more recent librabbitmq is also good idea.

[2015-12-27 14:29] prolic commented on #195
I just compiled librabbitmq-c v0.7.1 and reinstalled amqp extension, same problem.

[2015-12-27 14:32] pinepain commented on #195
librabbitmq is less likely the problem, try more recent php-amqp extension itself (as I suggested in post above).

After your original report I tried to reproduce as you described and everything looks working on PHP 7:

using 1.7.0alpha2
[code]

and using my branch from PR https://github.com/pdezwart/php-amqp/pull/194:

[code]

Give it a try with PHP 5, since php-amqp 1.7.0 we support both PHP 5 a

[2015-12-27 14:33] prolic commented on #195
I just recompiled php amqp extension from your PR #194 and the problem is gone.
Thank you very much!!!

When will it be merged and ready for release?

Btw: When is the php 7 support finalized?

[2015-12-27 14:49] pinepain commented on #195
I guess PR will be reviewd and merged after xmas and ny holidays.

PHP 7 fully supported in 1.7.0 already (if I understood your question correct). You can always check what versions "officially" supported by checking [travis build matrix](https://travis-ci.org/pdezwart/php-amqp) (PHP 7 with memcheck builds are red due to outdated valgrind version).

[2015-12-27 14:51] pinepain commented on #195
P.S.: Please, put stacktrace in codeblock while hash-numbers #<number> parsed as a reference to issues and pull-request and creates there unnecessary mentions which may be confused for further researches.

[2015-12-27 14:56] prolic commented on #195
1.7.0 is only alpha2 and not final, as far as I can see. My question was about when I can expect a final release. I really apprieciate your work !!!

FYI: I am working on a rewrite of my amqp lib for php at https://github.com/prolic/HumusAmqp. Perhaps you'll find it useful. Any feedback is welcome :)

Closing this issue now, as your PR #194 solves it.

[2015-12-27 14:56] #195 closed

[2015-12-27 15:08] pinepain commented on #195
I have https://github.com/pinepain/amqpy (there are branch where I start rewriting to add php-amqplib support) and https://github.com/pinepain/parsley, which is more a proof of concept, needs refactoring and redesign, but may be used as a reference for further works. Check it, maybe you will find it useful.

[2015-12-27 15:12] prolic commented on #195
Thanks! Will definitely take a look!

Wish you a happy new year!

[2015-12-30 12:45] c-datculescu commented on #190
Hello. Having the same error happening here.

We are still tracking down the issue. For now we cannot use the stable 1.6 because of this issue, waiting for 1.7 stable.

[2015-12-30 14:19] pinepain commented on #190
@c-datculescu, can you please try my branch from https://github.com/pdezwart/php-amqp/pull/194?

[2015-12-30 14:40] c-datculescu commented on #190
Hi. I will try it as soon as i have a little time (presumably over the weekend) and come back with results.

[2015-12-30 15:31] c-datculescu commented on #190
@pinepain I managed to test a little bit the branch, looks like it works fine for some of the tests that were failing for us. I will update when i have more details or when i will finish all the tests.

[2016-01-10 20:44] prolic commented on #136
@pinepain I really would like to see this feature in the php extension!

[2016-01-10 21:52] olekhy commented on #136
:+1:  this feature is mandatory for me.

[2016-01-12 09:14] EagleEyeJohn commented on #136
@c-datculescu we went with amqp extension for publishing as it's performance is 10-12x that of php-amqplib when we tested them with 50+ publishing processes at a combined rate of ~1200 messages per second.  php-amqplib is simply too slow to achieve the speed we need.  However, php-amqplib is (in our experience) 100% reliable whereas php-amqp is not, and so we log failed publishes and have a backup

[2016-01-12 16:35] c-datculescu opened #197 "Support for handling blocked connections. Possible?"
Hello.

It would be useful if php-amqp would support blocked connections notifications. We recently ran in a case in which the rabbitmq cluster we were running ran out of resources, triggering the memory alarm.

In this case all our publisher connections were in status blocked, which in turn kept the entire php pool blocked so new requests could not be delivered anymore.

While investigating how t

[2016-01-12 21:24] pinepain commented on #197
Based on a brief look, rabbitmq-c supports [Blocked Connection Notifications](https://www.rabbitmq.com/connection-blocked.html), but there are no examples in rabbitmq-c how to use this feature (https://github.com/alanxz/rabbitmq-c/issues/161), so it may take some time to figure out a bit how it exactly implemented there.

[2016-01-12 22:11] c-datculescu commented on #197
Hi and thanks for the fast feedback. On a simple look before opening up the issue we also saw some support for it from version 5.2 up.

We'll try to maybe look these day more closely and post bere if we have any findings.

Best,
Cristian.

[2016-01-12 22:31] c-datculescu commented on #136
That is weird. Under a workload of around 10 million messages a day we didnt happen to lose messages because of publishing.

In extreme cases the publisher can return true though even if the message didnt reach the server, but we only experienced that under certain resource starvation at some level (source machine, target machine, load balancer, etc.) so we didnt really consider those messages exa

[2016-01-24 16:35] pinepain commented on #136
@EagleEyeJohn Can you provide minimal code and specify configuration under which you experienced messages loss? Maybe you fill new issue with details about that losses?

[2016-02-06 09:56] IvixLabs opened #198 "Different \AMQPQueue objects in callback function is it possible?"
Hello i write one wrapper library for RabbitMq and i found that in one php process possible listen more then one queue.

abstract code for example:

let we have

exchange1: test.logger(type=fanout)
queue1: test.logger.all(bind to exchange1 with routingKey=null)
queue2: test.logger.specific(bind to exchange1 by error and info routing keys)

then send to exchange1 two messages one with routingKey=in

[2016-02-06 13:45] pinepain commented on #198
Hi Ivan. Thanks for pointing to this ambiguity (one of many, actually). The second argument to consumer callback is always the queue object which invoked consumer. This is really weird, but is kept for BC reasons.

For all further readers: **please, don't rely on that second argument in consumer callback. It is always the queue object callback invoked from.**

@lstrojny Maybe we should yield some

[2016-02-06 15:54] IvixLabs commented on #198
Thanks for answer.
Then seem need rethink concept and avoid queue name from determination message destination(inside library).

Thank you for show library but my library focused to Symfony2 and made like bundle with some convenient features which will works on Symfony2.

I think possible close issue.

[2016-02-08 09:09] #198 closed

[2016-02-14 17:27] pinepain commented on #190
@lstrojny I guess this can be closed as fixed in latest versions.

[2016-02-15 19:10] lstrojny commented on #190
Thanks, closed!

[2016-02-15 19:10] #190 closed

[2016-02-17 10:47] ebuildy opened #201 "Best practices for logging use case"
Hello,

I would like to use it to log all page views (+ business metrics, from Php script), so I mean the queuing stuff must not decrease page loading time.

What the best approach to guarantee that even if queue broker is down, or slow, the Php will not suffer too much ? (something like UDP).

Thanks you,

[2016-02-17 11:01] pinepain commented on #201
Hi, you'll probably have to set read/write timeouts low on `AMQPConnection`. It is also reasonable to limit target queue max length/size to prevent running out of resources when consumers fail or messages flow become to high - you should monitor that also, the goal is to consume messages faster then they produced, e.g. even if you have peaks during which messages flow is higher than consumers proc

[2016-02-17 13:51] ebuildy commented on #201
Cool! Thanks you for this help,

I am doing this => https://gist.github.com/ebuildy/51f48bab0b01ed914f64

You are right, removing exchange declaration helps a little.

Is not possible to have something very simple in 1 line:

    queue_send_async("queue", 5672, "my_exchange", "my_queue", "Hello world !");

that could be 100% asyncrhonous?

Thanks again,

[2016-02-17 14:43] pinepain commented on #201
In AMQP you send to exchange, and then, based on routing, message may be placed in one or more than one queue and/or other exchange(s), so in your snippet (which, btw, small and can be inserted into your message) can be optimized in a next way (assume you have all necessary exchange, queue and bindings already declared):

[code]

so if you want, you can definitely create some wrapper like you spec

[2016-02-17 14:57] ebuildy commented on #201
Woaaaaa

x3 faster, very cool, many thanks for the help.

[2016-02-17 15:27] boekkooi opened #202 "Nested Transactions"
Hi there,

I was just playing with PHP-AMQP (1.7.0alpha2 and master) and RabbitMQ's (3.6.0) transaction. (PHP 7.0.2)

The problem is that I was wondering if nested transactions would work so I wrote a little test script (see below) but the behaviour seems a little unexpected.

I was hoping for the expectation provided in the test below (2 items in queue and rolled back) or at least a exception or

[2016-02-17 15:34] boekkooi commented on #202
Ok so here are some more tests that seem a little off

[code]

[code]

[2016-02-17 16:00] pinepain commented on #202
Nested transactions is not something from AMQP protocol. Channel can be regular one OR transactional OR in confirmation mode (which I'm working on right now). According to AMQP spec `tx.start` can be called more than once, but it doesn't says anything that such calls will lead to nested transaction. After each `tx.rollback` or `tx.commit` new transactions starts, so literally, once channel put int

[2016-02-17 16:05] boekkooi commented on #202
@pinepain Thanks for the quick response and damn that works every different then I was expecting....

[2016-02-17 16:20] pinepain commented on #202
@boekkooi you can ask more about nested transactions (if any) in [official RabbitMQ user group](https://groups.google.com/forum/#!forum/rabbitmq-users) but I'm pretty sure it doesn't support it. AMQP protocol wouln'd or at least shouldn't miss such major feature description or at least note. Anyway, if it appears that I'm wrong, please let me know.

[2016-02-17 22:02] #202 closed

[2016-02-18 21:07] d3xt3r01 commented on #118
+1, the only reason I'm not using this yet.

[2016-02-19 19:39] pinepain commented on #201
@ebuildy if the issue solved, please, close it.

[2016-02-22 18:06] EagleEyeJohn commented on #118
@d3xt3r01 Couldn't you overcome the lack of SSL support by using a SSH tunnel?

[2016-02-22 18:30] d3xt3r01 commented on #118
I'm not in full control over all consumers.

[2016-02-28 19:05] pinepain commented on #197
I played a bit to implement this feature, and while it is possible, I totally agree with Alan, the rabbitmq-c author:

Literally, implementation will looks like:
[code]

where `waitForBlockedConnectionNotifications` will block current execution thread.

Using synchronous approach with asynchronous AMQP protocol limits number of features can be used, so without entering async loop or using threads,

[2016-02-28 19:19] pinepain commented on #136
Hi, I tried to add with PR https://github.com/pdezwart/php-amqp/pull/203 [Confirms (aka Publisher Acknowledgements)](https://www.rabbitmq.com/confirms.html) support.

Please, give it a look and test a bit. I would really appreciate any feedback you can provide.

[2016-02-28 19:21] pinepain commented on #168
Is this issue still applied to any recent php-amqp version?

[2016-02-28 21:40] lyrixx commented on #168
You can easily test it thanks to the gist I published ;) https://gist.github.com/lyrixx/c943e7e046ec325308fa#file-readme-md

[2016-02-28 23:15] olemartinorg opened #204 "Add support for arguments on consume()"
I see that ```\AMQPQueue::consume()``` does not have an ```$arguments``` argument, or similar. According to the [AMQP reference](https://www.rabbitmq.com/amqp-0-9-1-reference.html#basic.consume) it should be possible to pass arbitrary arguments to the broker. I would like to use this for [RabbitMQ Consumer Priorities](https://www.rabbitmq.com/consumer-priority.html), but php-amqp doesn't seem to s

[2016-02-29 00:07] pinepain commented on #168
@lyrixx it looks like it still ;(. I've debugged and after adding `var_dump` noted that at the time of calling `$this->setName($name);` in constructor  `$this->__phpunit_originalObject` is not set.

from `test/vendor/phpunit/phpunit-mock-objects/src/Framework/MockObject/Generator/proxied_method.tpl.dist`:

[code]
so calling `$this->setName($name);` in the same class constructor is not a good idea:

[2016-02-29 00:11] pinepain commented on #204
Arguments are set via `AMQPQueue::setArgument()` and `\AMQPQueue::setArguments()` methods. It's a bit crazy and not obvious at all, but it works.

[2016-02-29 00:21] pinepain commented on #118
SSL connection support added in PR https://github.com/pdezwart/php-amqp/pull/205.

Please, give it a look and test a bit. I would really appreciate any feedback you can provide.

[2016-02-29 08:25] lstrojny commented on #204
Closing for now

[2016-02-29 08:25] #204 closed

[2016-02-29 09:04] olemartinorg commented on #204
Oh, I looked (but probably I didn't look closely enough). Thanks a bunch!

[2016-02-29 09:08] lyrixx commented on #168
Oh, thanks a lot for all theses information ;)

[2016-02-29 09:23] lyrixx commented on #168
I think we can close this issue since you find a workaround ?!

[2016-02-29 09:31] zaq178miami commented on #168
Yeah, it can be close while we figured out that the problem reside not in extension or phpunit, but in how phpunit create proxy mocks.

[2016-02-29 09:51] #168 closed

[2016-02-29 16:14] c-datculescu commented on #136
Hello.

I have tested a little bit today, and all seems to be working as expected. Will carry on with a little more tests in the following days.

Thanks for the great effort put into this.

[2016-03-02 19:32] carlwgeorge commented on #167
Can this bug be re-opened until 1.7.0 stable is released?  I am working on packages for the [IUS project](https://ius.io).

[2016-03-02 19:45] pinepain commented on #167
ping @lstrojny can we release current beta as stable? If we merge pending PRs this will postpone possible release for a next few month.

[2016-03-02 19:46] guilhermeblanco commented on #167
@pinepain I've used 1.7.0 alpha2 for a couple of months in production with none to very minimal issues.
It's ok to make it stable.

@carlwgeorge I hope the spec file we've done helps you

[2016-03-02 21:00] carlwgeorge commented on #167
@guilhermeblanco What spec file is that?  I don't see one in this repo.  For our current PHP 5.6 packages, we just forked from Fedora's spec file.

[2016-03-02 21:03] guilhermeblanco commented on #167
@carlwgeorge sorry... https://github.com/iuscommunity/wishlist/issues/52

[2016-03-02 21:55] carlwgeorge commented on #167
No worries, I didn't realize you were working with @marksteele.  That spec file is really close to what I already had worked up.  Once 1.7.0 is released as stable we'll get our packages built fairly quickly.

[2016-03-02 22:49] sshilko commented on #167
amqp-1.7.0alpha1 works for me since Jan 2016 fine (stable)

[2016-03-04 18:51] prolic opened #206 "Returns wrong PHP_AMQP_VERSION on git"
This line

    "`git describe --abbrev=0 --tags`-`git rev-parse --abbrev-ref HEAD`-dev"

returns

    "v1.4.0-master-dev"

executed from current mater.

see: https://github.com/pdezwart/php-amqp/blob/master/config.m4#L115

This leads to minimum requirements of php amqp version are not fulfilled for composer when I use php-amqp from master.

[2016-03-04 18:59] pinepain commented on #206
What is your `git branch` and `git tag` output? Normally, fetching all data from remote should solve the problem: `git fetch` should fix wrong output.

[2016-03-04 19:48] prolic commented on #206
Damn, my bad. I only fetch your repo, not the original from pdezwart ;)

Sorry

[2016-03-04 19:48] #206 closed

[2016-03-06 21:30] prolic opened #211 "Batch publishing"
It would be a nice addition to allow batch publishing like in https://github.com/php-amqplib/php-amqplib/.

see: https://github.com/php-amqplib/php-amqplib/blob/master/PhpAmqpLib/Channel/AMQPChannel.php#L1128
and https://github.com/php-amqplib/php-amqplib/blob/master/PhpAmqpLib/Channel/AMQPChannel.php#L1144

[2016-03-07 08:03] zaq178miami commented on #211
Can you post some benchmarks to demonstrate benefits from batch publishing in php-amqplib and also compare it with publish from php-amqp?

[2016-03-07 10:38] ddtraceweb opened #212 "error compiling"
hi,

i have this error on debian squeeze 7, php 5.5.30, can you help me ?

configure: creating ./config.status
config.status: creating config.h
config.status: executing libtool commands
running: make
/bin/bash /tmp/pear/install/pear-build-rootexIN7E/amqp-1.6.1/libtool --mode=compile cc  -I. -I/tmp/pear/install/amqp -DPHP_ATOM_INC -I/tmp/pear/install/pear-build-rootexIN7E/amqp-1.6.1/include -I/tmp/

[2016-03-07 11:33] zaq178miami commented on #212
Hi. What is php-amqp version do you use and what is rabbitmq-c (librabbitmq) version do you have installed?

[2016-03-07 12:42] prolic commented on #211
Yes, it's here: https://gist.github.com/prolic/94d6c8d2ce2c3922f6a8

ext-amqp is incredible fast :-)

[2016-03-07 20:42] ddtraceweb commented on #212
hi,

it's the version 1.6.1 that i taking form pear, and the last version of librabbitmq-dev

[2016-03-08 07:46] pinepain commented on #211
**TL;DR**

 batch publishing doesn't make sense in php-amqp internals. If someone need similar feature it can be implemented in PHP userland code.

**Explanation**

Batch publishing is not AMQP nor RabbitMQ feature but rather a convenient way in php-amqplib to publish bunch of messages in a row. As I see it, packing message from PHP representation into AMQP representation tooks some significant ti

[2016-03-08 07:52] pinepain commented on #212
Please, post full log. Also, please, post exact librabbitmq version do you have, I can't get from that log what is it. Also, make sure no other rabbitmq-c version installed.

It may come in handy to follow [Things to check before reporting a problem](https://github.com/pdezwart/php-amqp#things-to-check-before-reporting-a-problem) from [How to report a problem](https://github.com/pdezwart/php-amqp#

[2016-03-08 12:37] prolic commented on #211
Many thanks for your explanation.

[2016-03-08 12:37] #211 closed

[2016-03-14 10:35] sshilko opened #213 "fopen(${prefix}/lib/php/pear/.depdb): failed to open stream: No such file or directory in DependencyDB.php on line 549"
Ubuntu 14.04 fresh install buggy, it installs bug has some problems with path finding
Ubuntu 14.04.3 LTS \n \l
[code]

[code]

[2016-03-14 11:22] pinepain commented on #213
Does it work to manually install php-amqp on the same machine?

[2016-03-14 12:11] sshilko commented on #213
yes, manual install works, so somewhere an enviroment variable is lost, and weird directory is created in my homedir
[code]

[code]

[2016-03-14 12:13] sshilko commented on #213
maybe its puppet configuration issue :(

[2016-03-22 01:40] hopeseekr commented on #213
It happens to me on Gentoo...dev-php/PEAR-DB-1.9.2

[2016-03-22 09:11] pinepain commented on #213
@hopeseekr does manual installation works for you? Does pear/pecl configured properly?

[2016-03-22 13:46] macintoshplus commented on #191
Please can you tag a new version?
The master build on windows !

[2016-03-22 13:59] pinepain commented on #191
Awesome! Thanks for the feedback!

[2016-03-22 15:37] hopeseekr commented on #213
I think it's an upstream issue with pear, to be honest.

[code]

I see several reports of this online, all from the last month.

[2016-03-23 17:36] #201 closed

[2016-03-23 20:27] ebuildy opened #215 "[question] Best practice to use with a RabbitMQ HA cluster"
Sorry to ask question here, just wondering what would be the best practice to use this Php extension with a 3 nodes RabbitMQ HA cluster with 1 mirrored queue.

Currently I am using HAProxy in front of these, so Php connects to HAProxy then HAProxy load balance to different nodes. This is working very fine, but a member of my team asks if we could remove HAProxy.

1- Can we specify all nodes as hos

[2016-03-24 08:44] pinepain commented on #215
Hi. I also used HAProxy in the same manner as you and it was fine. Later there was ucarp configured to add failover for HAProxy machine, but I even not sure that it was brought to production. For some reason, mostly organizational we didn't used round-robin DNS, but it should be also fine to balance load with it, sure, it less flexible manner.

1. There are no such feature to specify multiple sepa

[2016-03-24 09:01] KIVagant commented on #215
This behaviour can bring to timeout failures, I got a similar problem with Nginx upstreams. One dead host can kill important production feature.

[2016-03-24 09:25] pinepain commented on #215
@KIVagant yeah, [Consul DNS](https://www.consul.io/docs/agent/dns.html) fits here perfectly.

There are even [rabbitmq-autocluster](https://github.com/aweber/rabbitmq-autocluster):

which I didn't tried yet, but it looks very promising.

[2016-03-24 09:38] ebuildy commented on #215
Woa, many thanks for a such good answer as usually here, really appreciate your help.

Didn't think about DNS round robin, it seems a very good idea indeed. Will give a try this morning.

I send message to RabbitMQ after called ``fastcgi_finish_request`` so performance is not a problem here.

[2016-03-28 09:58] ArtemGordinsky commented on #190
For anyone who is, like me, hesitant to use an alpha version in production and can't wait for 1.7 to become stable:
Replacing ```AMQPQueue::setArguments()``` with multiple calls to ```AMQPQueue::setArgument()``` seems to work fine.

[2016-04-11 07:43] pinepain commented on #118
ping @lstrojny in case #205 fits our needs this can be closed, I guess.

[2016-04-14 12:39] bweston92 commented on #62
Updates? I seen there was a PR but still open.

[2016-04-15 14:27] c-datculescu commented on #215
Hello. Just chipping in.

What we currently use in production is either a hardware load balancer or a software one (haproxy) in front of all the RabbitMQ nodes.

Regarding the fcgi_finish_request part, we did run into a issue where we were blocking the fpm threads after the output has been sent to client, leading to the entire pool being consumed. Our solution for this was to actually have a decen

[2016-04-15 14:30] c-datculescu commented on #136
Hi. I did a little more testing, and i am getting some weird exceptions (Unexpected server method). Didn't got to dig too much into the exception, all that i know right now is that it seems to be triggered when there is a large number of publishing operations per second (it generally breaks down at some point after running at around 16k messages/second).

I hope i will get more time to spend on th

[2016-04-15 14:33] c-datculescu commented on #197
Could it be done with a callback? Kind of in the same style that the publisher acknowledgements is currently implemented in the respective pull request. This might give the option to actually do something else with the messages that would be published (dump them to disk, etc).

[2016-04-15 17:02] pinepain commented on #197
@c-datculescu is all about sync/async approach. Sadly, but extension is heavily synchronous, so it is a bit tricky to add blocked connection notification.

[2016-04-15 19:08] ebuildy commented on #215
Interesting, i didnt pay  attention to the  php  workers pool, sometime i
see  lot of connections opens between PHP and rabbitmq, maybe a bug with
persistance setting ?

Hello. Just chipping in.

What we currently use in production is either a hardware load balancer or a
software one (haproxy) in front of all the RabbitMQ nodes.

Regarding the fcgi_finish_request part, we did run into a issue wher

[2016-04-18 12:00] c-datculescu commented on #215
Generally we try to avoid using the persistent connections since php is known to not handle them very well. We use regular connections for both publishing and consuming from the nodes.

We did run into half tcp sockets opened, especially after we had a crash on rabbitmq (happened some months ago), where it seemed mnesia didn't clear the connections internally, but the ports were still available on

[2016-04-21 15:59] bweston92 opened #216 "No method on a channel to close it."
`AMQPChannel::close()` would be great. I see the code in there for closing the channel but not any good in C so will request it from you guys. Thanks.

[2016-04-21 19:47] pinepain commented on #216
Channel become opened in constructor and closed in destructor or when channel or connection error occurs. At this time there are no plans to change that. What's you use case for that?

[2016-04-22 03:45] bweston92 commented on #216
Because the channels even after unset($channel) doesn't close/free the channel on rabbitmq.

---Sent from Boxer | http://getboxer.com

On 21 April 2016 at 20:47:17 BST, Bogdan Padalko <notifications@github.com> wrote:Channel become opened in constructor and closed in destructor or when channel or connection error occurs. At this time there are no plans to change that. What's you use case for that?

[2016-04-22 07:33] pinepain commented on #216
If there any refences left PHP object won't be destroyed, in case of php-amqp it is common to see something like this:

[code]

so in such scenario channel still exists while it is in use by queue. In this case closing channel will break queue usage, so it is a bit pointless to do that. Is it an option for you to cleanup all entities that utilizes channel?

[2016-04-22 08:52] bweston92 commented on #216
Ok, I thought the queue would of de constructed too. Will give it a go.

[2016-04-22 09:29] bweston92 commented on #216
The following doesn't close the channel.

[code]

[2016-04-26 08:16] stof opened #217 "Please tag a stable release compatible with PHP 7"
PHP 7 is supported only in the 1.7 versions, which are only available as alpha releases.
I' looking at providing the amqp extension for the heroku php buildpack, but shipping alpha versions there won't be accepted.

[2016-04-26 08:44] lstrojny commented on #217
Will do very soon.

[2016-04-26 14:01] lstrojny commented on #217
1.7.0 released.

[2016-04-26 14:01] #217 closed

[2016-04-26 14:06] lstrojny commented on #215
Closing for now

[2016-04-26 14:06] #215 closed

[2016-04-26 14:07] lstrojny commented on #212
Closing, no response.

[2016-04-26 14:07] #212 closed

[2016-04-26 14:07] lstrojny commented on #191
1.7.0 was released

[2016-04-26 14:07] #191 closed

[2016-04-26 14:07] stof commented on #217
great. Thanks

[2016-04-26 14:07] lstrojny commented on #213
Closing, most likely a PEAR related issue.

[2016-04-26 14:07] #213 closed

[2016-04-26 15:17] pinepain commented on #191
@lstrojny snaps dir still empty - http://windows.php.net/downloads/pecl/snaps/amqp/. Will it populated later, if ever?

[2016-04-26 16:06] scaytrase commented on #191
release empty too

[2016-05-07 05:51] prolic commented on #136
Issue can get closed?

[2016-05-07 10:48] lstrojny commented on #136
Indeed

[2016-05-07 10:48] #136 closed

[2016-05-07 22:21] lstrojny opened #219 "Reliable release schedule"
Currently we have a rather erratic release schedule which doesn't really fit the popularity of the package and what our users should expect from us. That being said, it’s nobody’s fault but mine.

In order to fix that I propose a consistent, monotonous and reliable release train model where we ship 4 minor versions a year plus as many patch versions as we need. 4 weeks before each release we would

[2016-05-08 08:06] hanikesn commented on #219
Hey, this schedule seems a bit optimistic regarding breaking BC. As a lot of people will be stuck on older versions because of various LTS releases:

https://wiki.ubuntu.com/LTS
http://symfony.com/doc/current/contributing/community/releases.html

That means people are dependent on the version of the extension that's installed by the distro of their choice and of various php helper libraries and th

[2016-05-09 07:05] lstrojny commented on #219
@hanikesn thanks for your feedback. The alternative then would be to either maintain a release for a year, which should suffice. Then the question is, is it realistic to maintain four releases at a time or if it’s better to only ship two minor versions.

[2016-05-09 11:28] pinepain commented on #219
@lstrojny As to current release schedule, it's not perfect but no need to find whose fault is that. No need to blame anybody, especially yourself. It's nobody fault, it's done when it's done. We had one or two delays but it happens. This is pretty small project with not so large committers base, so that was expected.

As to proposed timeline, I have following questions:
 1. Do we have roadmap?

[2016-05-10 06:01] lstrojny commented on #219
For your questions:

 - For the roadmap, not yet, but that for me would be step two after deciding on a monotonous release. I would see it pragmatically: if we don't have enough for a 2.0, let’s ship a 1.14 instead
 - Semantic versioning: I would stick with it. How the version number is incremented should be decided based on what’s in
 -- The best we can have is download numbers, as seen here: htt

[2016-05-10 06:55] pinepain commented on #219
Wow, have not seen that numbers before! They are indeed not small at all! I guess we may also somehow take into account apt/rpm packages downloads statistics, if any. Anyway, numbers are pretty large.

What is the purpose to increment minor version by 2? Do you plan to have even versions to be stable and odd unstable?

I don't get proposed release model in full. What about just clarifying current

[2016-05-13 13:09] prolic opened #220 "Segfault with 1.7.0"
Hi,

I currently run into seg faults with amqp 1.7.0. The problem is gone when I compile myself from master branch.

Can you release a bugfix release? No further investigation is needed, as it's fixed in master.

Thanks

[2016-05-15 13:21] prolic opened #221 "Segfault in current master"
I can create a segmentation fault with this simple script:

[code]

[2016-05-15 13:23] prolic commented on #221
My system:
PHP 7.0.3
Linux 4.2.0-30-generic Ubuntu
with php-amqp extension from current master

[2016-05-16 06:06] pinepain commented on #221
Hi, I'll give it a look later today.

[2016-05-16 08:03] prolic opened #222 "SSL Connection problem"
First of all, trying to get a connection with open ssl

[code]

looks good or not???

Now doing the same with php-amqp extension, result:

[code]

Am I doing something wrong or is this a bug?

[2016-05-16 08:09] pinepain commented on #222
I guess it's a bug. How to reproduce it? Or do you have any trace for it?

[2016-05-16 09:01] prolic commented on #222
I just created a connection, connected, called isConnected, disConnect and
isConnected again.

I can send you a trace later.
Am 16.05.2016 16:09 schrieb "Bogdan Padalko" <notifications@github.com>:

I guess it's a bug. How to reproduce it? Or do you have any trace for it?

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub
<https://github.co

[2016-05-16 12:21] prolic commented on #222
This is my test-script:

    <?php

    $c = new AMQPConnection();
    $c->setPort(5671);
    $c->setCaCert('/home/sasa/code/HumusAmqp/tests/test_certs/cacert.pem');
    $c->setCert('/home/sasa/code/HumusAmqp/tests/test_certs/public.pem');
    $c->setKey('/home/sasa/code/HumusAmqp/tests/test_certs/private.pem');
    $c->setVerify(false);

    $c->connect();

Results in:

[code]

[2016-05-16 12:30] pinepain commented on #222
Thanks! Are certs the one from php-amqp tests (from provision/test_certs folder)?

[2016-05-16 12:45] prolic commented on #222
No I created my own, but give me a sec, I'll try with yours.

[2016-05-16 12:48] prolic commented on #222
I tried with your certs from provision directory. Same result.

[2016-05-16 12:52] pinepain commented on #222
OK, I will give it a look to, thanks for testing!

[2016-05-16 12:58] prolic commented on #222
Thanks for your help.

[2016-05-16 18:06] pinepain commented on #221
Can't reproduce from first try in php-amqp vagrant box.  It's not exactly your configuration, so see versions below. Can you try to reproduce segfault in clean environment or post some stack trace please?

[code]

[code]

[code]

[code]

[code]

[2016-05-16 18:39] pinepain commented on #222
Same here, can't reproduce inside php-amqp vagrant box. See environment details in https://github.com/pdezwart/php-amqp/issues/221#issuecomment-219499247. I used test certs that shipped with extension inside provision/test_certs directory.

[2016-05-16 18:47] pinepain commented on #220
Can you provide more detail and provide reproducible example to cause a segfault? Maybe, fork and push your test case to travis (please, leave only the necessary php version in build matrix).

[2016-05-17 05:32] prolic commented on #221
Here is my gdb backtrace

    Program terminated with signal SIGSEGV, Segmentation fault.
    #0  strlen () at ../sysdeps/x86_64/strlen.S:106
    106     ../sysdeps/x86_64/strlen.S: Datei oder Verzeichnis nicht gefunden.
    (gdb) bt
    #0  strlen () at ../sysdeps/x86_64/strlen.S:106
    #1  0x00007f9e19390459 in amqp_cstring_bytes (cstr=0x45 <error: Cannot access memory at address 0x45>)

[2016-05-17 05:34] prolic commented on #222
Here my gdb backtrace

    Program terminated with signal SIGSEGV, Segmentation fault.
    #0  0x00007f3f89b94a40 in ?? ()
    (gdb) bt
    #0  0x00007f3f89b94a40 in ?? ()
    #1  0x00007f3f9215a9a8 in ENGINE_remove () from /lib/x86_64-linux-gnu/libcrypto.so.1.0.0
    #2  0x00007f3f9215aaf5 in ?? () from /lib/x86_64-linux-gnu/libcrypto.so.1.0.0
    #3  0x00007f3f9215a0d6 in ?? () from /lib/x86_64-

[2016-05-17 05:35] prolic commented on #222
Will try to provide a test-box with reproducible results, but I currently have a very slow internet connection, so this can take a while. I hope the trace is enough for now.

[2016-05-17 06:03] pinepain commented on #222
I will try it one more time in clean environment. Can you disable all extensions you have except php-amqp and re-try? Also, do you have enought memory to operate (if no, do you have swap on)?

[2016-05-17 06:53] prolic commented on #222
I have only the amqp extension installed for php 7.0.3 and enough memory is there, for sure. Also there is enough additional swap.

[2016-05-21 07:19] prolic commented on #222
I could fix the problem and can tell you how to reproduce it, too:

I was missing this:
[code]
in my rabbitmq.config file.

When I have this instead
[code]
I receive the damn segfault.

[2016-05-21 08:08] prolic opened #223 "AMQPQueueException: Consumer timeout exceed"
I have the following use case:

I consume multiple messages and ack the whole block at once.
When I ack every 3 messages, everything is okay.
When I ack every 4 messages, I get the AMQPQueueException: Consumer timeout exceed.

I increased the read_timeout, write_timeout, connection_timeout and heart_beat, nothing helped.

Any ideas?

[2016-05-21 12:36] pinepain commented on #223
Hi, looks like a bug.

Can you post producer and consumer code to test this behavior? Also please specify PHP, RabbitMQ, php-amqp and rabbitmq-c version and how they were installed. I saw you already posted some of these info in other reports, so just clarify what missed.

I'm a bit overcommitted last time, so it may take me a while to get to all these reports. Sorry for that.

[2016-05-21 13:42] prolic commented on #223
To reproduce see here:

https://github.com/prolic/HumusAmqp/blob/master/tests/AbstractCallbackConsumerTest.php#L178

changing the value from 3 to 4 will lead to the error shown above.

Current setup:
php-amqp from master
rabbitmq-c from master
RabbitMQ 3.5.4
PHP 7.0.3

[2016-05-21 14:18] prolic commented on #118
Can be closed?

[2016-05-21 16:58] lstrojny commented on #118
Indeed.

[2016-05-21 16:58] #118 closed

[2016-05-30 06:21] prolic opened #224 "Bug with Confirm Select"
I have the following test-script:

[code]

Expected result:

[code]

But when I run the test-script multiple times, I suddenly become this:

[code]

[2016-05-30 06:25] pinepain commented on #224
@prolic What is `$multiple` value for the third acked tag? From [Confirms (aka Publisher Acknowledgements) RabbitMQ official manual](https://www.rabbitmq.com/confirms.html):

[2016-05-30 06:35] prolic commented on #224
perfect, that's it, thanks! ;)

[2016-05-30 06:35] #224 closed

[2016-06-03 08:52] prolic opened #225 "AMQPChannelException: Could not get channel. No channel available."
While trying to call `$queue->consume( /* some params*/ )` I received `AMQPChannelException: Could not get channel. No channel available.` today on a travis build. I restarted the build, as it's the first time I encountered the issue, turned travis green, again. I never experienced this on my local machine.

Just wanted to report this, perhaps there is something you can do about it.

[2016-06-03 09:35] pinepain commented on #225
Without more details it's hard to guess on which side problem is. It may be application logic when some AMQP error that closes channel and then referring to that channel from. It also possible the problem inside RabbitMQ, ci or amqp extension. Variety is too large to do something specific, but when I will be dealing with it, I'll look closer to such error messages, if any. You may also post code t

[2016-06-03 09:57] prolic commented on #225
As I said, the problem was only ever viewed a single time on travis, never before and never locally so far.
It came up while running tests for https://github.com/prolic/HumusAmqp, a simple build-restart turned it green. So I don't have any trace no more and cannot point to the exact test anymore, which caused it.

[2016-06-03 11:05] pinepain commented on #225
Yeah, I understand. Thanks for flagging this issue.

[2016-06-06 05:35] prolic opened #226 "Delete unknown exchange leads to seg fault"
Example script:

    $c = new AMQPConnection();
    $c->connect();
    $ch = new AMQPChannel($c);
    $ex = new AMQPExchange($ch);
    var_dump($ex->delete());

    16346 segmentation fault (core dumped)

[2016-06-06 06:06] pinepain commented on #226
Please, add info about what PHP, php-amqp, librabbitmq and RabbitMQ versions do you use and a way they were installed. Also please specify you OS and platform.

[2016-06-06 06:16] prolic commented on #226
PHP 7.0.3
php-amqp self-compiled from current master
librabbitmq self-compiled from current master
RabbitMQ 3.5.4, Erlang 18.0
Ubuntu 15.10
Platform: x86_64

[2016-06-06 06:19] prolic opened #227 "Question about channel behaviour"
When I consume messages from the queue with `AMQPQueue->consume()` after specified `read_timeout` I receive `Consumer timeout exceed` exception. When I catch that exception, I cannot call `AMQPQueue->consume()` again, but I can still ack / nack messages.
Is this behaviour wanted?
Btw: I cannot do the same with php-amqplib, after connection timeout ack / nack is not working there.

[2016-06-06 07:00] pinepain commented on #227
Looks strange. To make sure I got you right, can you provide minimal example to demonstrate the behavior.

[2016-06-06 08:03] prolic commented on #227
Edit: In php-amqplib I can ack/ nack messages after timeout in consume(). My previous comment about php-amqplib was wrong.

While trying to write a test-script, I can see the bug was on my side, all good. Going to close.

[2016-06-06 08:03] #227 closed

[2016-06-06 08:06] prolic opened #228 "Question about long running consumers"
I want to run a consumer on CLI, like forever.

What is the best way to deal with Consumer timeouts? Just consume again in a loop or destroy the consumer and start a new one (supervisord can help here)?

[2016-06-06 08:18] prolic commented on #223
Test-script:

    $c = new AMQPConnection(['read_timeout' => 3, 'write_timeout' => 3]);
    $c->connect();

    $ch = new AMQPChannel($c);

    $ex = new AMQPExchange($ch);
    $ex->setName('test-exchange');
    $ex->setType('direct');
    $ex->declareExchange();

    $q = new AMQPQueue($ch);
    $q->setName('test-queue');
    $q->setFlags(AMQP_DURABLE);
    $q->declareQueue();
    $q->bind('test-

[2016-06-06 15:21] prolic opened #229 "No message in queue after consume timeout and reject with requeue"
In words:

I send 2 messages to an exchange, they are routed to a queue.
I consume messages from there, without acknowledgement.
After specified read timeout the queue throws a timeout exception.
After consumer timeout I nack all and requeue them.

Then I need to call $queue->cancel($consumerTag), without this the messages are still delivered to the queue, even if it's no longer consuming (there w

[2016-06-06 15:23] prolic commented on #229
Note: While the first script is failing on `$queue->get()` (returning false instead of AMQPEnvelope) sometimes, the second script works good, but recreating connection instead of being able to call $channel->close() is bad.

[2016-06-06 18:52] pinepain commented on #226
Confirmed. The reason is `PHP_AMQP_READ_THIS_PROP_STR()` macro usage on non-string properties. Working on a fix.

[2016-06-06 21:43] lstrojny commented on #228
From using workers in production I find it easier to simply restart the jobs every now and then. We (@InterNations) start our jobs with the timeout binary and we tell supervisor to restart the job.

[2016-06-06 21:49] pinepain commented on #221
I guess this is the same error like #226 and should be fixed by #230. Can you please verify?

[2016-06-07 06:41] prolic opened #231 "Problem with $channel->setConfirmCallback"
The message signature is:

    setConfirmCallback(
        function (int $deliveryTag, bool $multiple = false) : bool,
        function (int $deliveryTag, bool $multiple, bool $requeue) : bool
    )

The problem is, I cannot really do much with it.

An example:

I produce a single message and want to see, if it is published correctly, in this case the method is very useful. But when I produce 10 m

[2016-06-07 07:22] pinepain commented on #231
Can you clarify more, it's not clear what's your problem. `$deliveryTag` will hold sequence number and `$multiple` will hold whether single message confirmed or all message up to and including that one with `$deliveryTag` are confirmed. This is how [Confirms (aka Publisher Acknowledgements)](https://www.rabbitmq.com/confirms.html) works.

[2016-06-07 07:53] #226 closed

[2016-06-07 07:54] lstrojny commented on #221
Closing

[2016-06-07 07:54] #221 closed

[2016-06-07 07:58] prolic commented on #231
Assuming I have multiple processes publishing messages to an exchange.
When I publish 5 messages from a process, I cannot know upfront which `$deliveryTags`'s they'll receive. So when I get the information that `$deliveryTag` = 111 was received with $multiple, what does that say to me? I don't know if my messages have delivery tag 106-111 or 99, 102, 105, 111, 130.

[2016-06-07 08:33] pinepain commented on #231
It's basically client responsibility to keep track of delivery tags.

Delivery tag starts from 1 and is a 64 bit integer, so max value is 9223372036854775807 (`PHP_INT_MAX` on x64 platform, btw). Delivery tag is unique inside specific channel.

That mean that when you publish you already know what deliver tag message will hold. Java have [`Channel.getNextPublishSeqNo()`](https://www.rabbitmq.com/r

[2016-06-07 08:36] prolic commented on #231
Ah ok, this clarifies a lot. I was thinking the delivery tag is given on the server. My fault.

[2016-06-07 08:36] #231 closed

[2016-06-07 08:39] prolic commented on #228
@lstrojny What is a reasonable read timeout then? 600 secs?

[2016-06-07 09:31] pinepain commented on #228
It's hard to say exactly which approach is better, more details needed, like what kind of consumers, are there some logic to prepare for consuming that needs cleanup, are there any logic with side effects and so on.

Re-running consumer callback and restarting whole application both may be fine. Though it may be tricky (mostly due to #216, as you noted in #229) to properly re-run consumer. And som

[2016-06-07 09:31] pinepain commented on #231
Yeah, this is a bit tricky moment.

[2016-06-07 09:39] lstrojny commented on #228
@prolic I don't think there is a general answer for a sane timeout. Depends on how expensive it is for a job to be restarted, how long the job takes to process a single message, how likely the job is to hang and so on. For us we make sure to restart every 1800 seconds but that’s a very specific value that has all kinds of assumptions baked in.

[2016-06-07 09:54] prolic commented on #228
Ok, thanks for the feedback.

[2016-06-07 09:54] #228 closed

[2016-06-20 20:46] carlwgeorge opened #232 "bug_gh155_direct_reply_to.phpt failure"
I am running into a test suite failure with the following setup:

amqp 1.7.0
PHP 7.0.7 (from [IUS](https://ius.io))
librabbitmq 0.5.2 (from [EPEL](https://fedoraproject.org/wiki/EPEL))
CentOS 7

[code]

[2016-06-21 05:33] pinepain commented on #232
What RabbitMQ version do you use?

[2016-06-21 12:38] carlwgeorge commented on #232
That is with RabbitMQ 3.3.5 from [EPEL](https://fedoraproject.org/wiki/EPEL).

[2016-06-21 13:23] pinepain commented on #232
[Direct reply-to](https://www.rabbitmq.com/direct-reply-to.html) (aka Fast RPC Replies) available starting from RabbitMQ 3.4.0, see [changelog](https://www.rabbitmq.com/changelog.html) for details.

[2016-06-21 14:57] nathanejohnson opened #233 "amqpconnection_construct_with_connect_timeout test fails"
This test fails.  Here is the output:

Parameter 'connect_timeout' must be greater than or equal to zero.
Socket error: could not connect to host.
error: -10.497910022736
limit: 1.0211892990699
timings failed

So the reason the "error" value goes very negative is that there is a connection refused almost immediately.  google.com does not appear to be accepting connections on 5672 (at least not fro

[2016-06-21 16:01] nathanejohnson commented on #233
Okay, so apparently our corporate firewall was blocking (and refusing) 5672 outbound.

[2016-06-21 16:15] #233 closed

[2016-06-21 20:37] carlwgeorge commented on #232
Roger that.  Is there a way to detect the server version within PHP as part of the SKIPIF statement?

[2016-06-21 21:25] pinepain commented on #232
Less likely it is possible to do in a sane way. The closest to what we may use here is [XFAIL](http://qa.php.net/phpt_details.php#xfail_section) section which just let some test fail. I personally don't like it while it servers different purposes than we need here.

[2016-06-21 21:29] carlwgeorge commented on #232
Understandable, thanks for the feedback.  I'll patch locally to skip that test when building on EL7 with the older server version.

Is there an appropriate place to document the minimum server version required for the test suite?

[2016-06-22 06:19] pinepain commented on #232
I guess somewhere in the readme, probably in a requirements section, I made a tiny PR for that, see #234. //cc @lstrojny

[2016-06-23 09:16] lstrojny commented on #232
Thanks!

[2016-06-23 09:16] #232 closed

[2016-07-01 14:10] bweston92 opened #235 "PHP 7 strict types"
The following code on PHP 7 with strict types produces an error about the required argument is to be a string but integer given, what would you like? `sprintf('%d', AMQP_DURABLE)` passed? Why aren't the constants themselves passable?

[code]
Produces:
[code]

[2016-07-01 14:18] bweston92 commented on #235
Closing, my own fault, confused by `setType` and `setFlags` :-1:

[2016-07-01 14:18] #235 closed

[2016-07-04 10:19] prolic opened #236 "Please release bugfix release 1.7.1"

[2016-07-06 17:00] dakulov opened #237 "Call "consume" method inside another "consume""
When I trying to call "consume" method inside another "consume",
then handlers entangling for different queues.

For example:

[code]

expected output:

[code]

actual:

[code]

Question: Is this normal behaviour or not?

php:

[code]

extention:

[code]

[2016-07-06 22:05] pinepain commented on #237
Hi, thanks for the report! This script segfaults (on my machine) which is not an expected behavior for sure.

As to your script and php-amqp extension: we use `amqp_consume_message` from rabbitmq-c in `AMQPQueue::consume()` under the hood, which works a bit different from what user would expect in our case: it waits for any messages on a connection, not a channel. So nested calls to `AMQPQueue::co

[2016-07-07 08:08] dakulov commented on #237
Thanks you for the quick reply!

Should I wait for a good solution to this problem (listen on a specific channel only)?
Am I not mistaken that problem in amqp_consume_message (rabbitmq-c), not in php-extention?
Perhaps I need to contact rabbitmq-c developers?

[2016-07-07 08:31] pinepain commented on #237
As a workaround you may open second connection and do nested consume within it.

All projects that use `amqp_consume_message()` from rabbitmq-c in the same manner will have such problem. [php-amqplib](https://github.com/php-amqplib/php-amqplib) php library is fully implemented in php itself, so it should behaves different, but I haven't give it a try yet.

Let's ping @alanxz to see what he can cla

[2016-07-08 18:00] skobkars opened #238 "Error in amqp_connection.c leads to wrong amqp.password value"
Hi,

Line 362 of amqp_connection.c takes length of 'amqp.login' instead of 'amqp.password':

STR("amqp.password"), (PHP5to7_param_str_len_type_t) (strlen(INI_STR("amqp.password")) > 128 ? 128 : strlen(INI_STR("**amqp.login**"))) TSRMLS_CC);

Thus, if password is longer than login name, the former gets truncated.

[2016-07-09 15:04] lstrojny commented on #236
Done. Thanks for reminding!

[2016-07-09 15:04] #236 closed

[2016-07-09 18:48] prolic commented on #220
this can be closed now, fixed in 1.7.1.
thanks

[2016-07-09 18:49] prolic commented on #238
Can be closed, too

[2016-07-10 03:49] alanxz commented on #237
`amqp_connection_state_t` objects are not thread-safe. Using a single object from multiple threads without synchronization will result in undefined behavior, without looking at what php-amqp is doing in this is my guess.

[2016-07-10 10:35] pinepain commented on #237
@alanxz we don't use threads in this case. The code itself is `AMQPQueue::consume()` method  - https://github.com/pdezwart/php-amqp/blob/master/amqp_queue.c#L502.

The problem is that it calls `amqp_consume_message()` - https://github.com/alanxz/rabbitmq-c/blob/master/librabbitmq/amqp_consumer.c#L143 which listens for incoming message on a connection globally, and in our case it should listen only

[2016-07-10 15:40] skobkars commented on #238
Resolved and closed. Thanks everyone.

[2016-07-10 15:40] #238 closed

[2016-07-10 20:42] alanxz commented on #237
My recommendation is to use `amqp_consume_message()`, and store message that aren't on the channel you care about somewhere until they're ready to be consumed.

Given the current public API, its possible, but not easy.  The way you might do it is to use `amqp_simple_wait_frame()` to read frames until you get a basic.deliver method on the channel you care about, putting aside frames you don't care

[2016-07-11 06:38] pinepain commented on #237
Thanks for clarification, it's something what I expected. I guess at this time we'll just may ban multiple channels consume at the same time within a single connection. As it hard and potentially break BC, it's better than having non-working functionality. And thanks for highlight about [alanxz/SimpleAmqpClient](https://github.com/alanxz/SimpleAmqpClient), I guess it can be a base for the next php

[2016-07-11 08:17] #220 closed

[2016-07-13 14:00] prolic opened #240 "Problem with persistent connection"
AMQPConnectionException: There are already established persistent connection to the same resource.

[2016-07-13 14:00] prolic commented on #240
How to solve this?

[2016-07-13 15:01] pinepain commented on #240
Can you please provide php-amqp, PHP, RabbitMQ and rabbitmq-c versions do you use? Also, please provide test script to reproduce a problem. Also have a look at [How to report a problem](https://github.com/pdezwart/php-amqp#how-to-report-a-problem) readme section.

[2016-07-13 22:04] alanxz commented on #237
I would look at what alanxz/SimpleAmqpClient offers carefully, it presents a rather opinionated interface that may not be what you're looking for.

[2016-07-14 07:37] prolic commented on #240
I am using PHP7, rabbitmq-c v0.7.1, php-amqp compiled from master and RabbitMQ 3.5.7.
I created a test-repo with failing unit tests here:
https://github.com/prolic/php-amqp-test
The failing travis build is here:
https://travis-ci.org/prolic/php-amqp-test/builds/144668488

The test is basically:
[code]

[2016-07-14 07:38] prolic commented on #240
This is only to demonstrate that I cannot use persistent connections in unit tests.

[2016-07-14 07:53] prolic opened #241 "Confirm select slower then transaction"
Confirm select mode is supposed to be faster than a transaction on amqp, but this is not the case with this extension.

Here are some timing tests with 10.000 messages:

just publish: float(0.04935884475708)

transaction: float(0.13030695915222)

confirm select: float(0.15289998054504)

You can see the test here: https://github.com/prolic/php-amqp-test/tree/publish_timing

And timing results from

[2016-07-14 08:13] pinepain commented on #241
Hi, thanks for pointing on this!

`AMQPChannel::waitForConfirm()` method call is blocking, so it may be the reason why it is slower in your case. In this particular case confirms are 15% worse so overall performance difference between transactional and confirmational publishing is relatively small here and needs to be studied more. I would go with more than 1 case, e.g. with 1000 runs or so on som

[2016-07-14 08:21] prolic commented on #241
@pinepain Thank you!

I updated the test-case to use a dataprovider: https://github.com/prolic/php-amqp-test/tree/publish_timing

[code]

These are the results from my machine:

[code]

[2016-07-14 08:22] pinepain commented on #240
You can't have more than one persistent connection to the same resource, see the test in my reply above and [`php_amqp_get_connection_hash()`](https://github.com/pdezwart/php-amqp/blob/master/amqp_connection.c#L98) to see what connection options affect persistent connection hash (basically, all options except timeouts).

So you have to reuse already opened persistent connection or close it or open

[2016-07-14 08:25] prolic commented on #240
I see. Thank you.

[2016-07-14 08:25] #240 closed

[2016-07-14 08:38] pinepain commented on #241
I see the difference. Will play with it and try to find where we have a bottleneck. Thanks!

[2016-07-15 08:08] xchz opened #242 "why some function is undefined in AMQPChannel?"
hi, i get some problem...
`<?php
var_dump(get_class_methods(AMQPChannel));`
it output:
array(13) {
  [0]=>
  string(11) "__construct"
  [1]=>
  string(11) "isConnected"
  [2]=>
  string(12) "getChannelId"
  [3]=>
  string(15) "setPrefetchSize"
  [4]=>
  string(15) "getPrefetchSize"
  [5]=>
  string(16) "setPrefetchCount"
  [6]=>
  string(16) "getPrefetchCount"
  [7]=>
  string(3) "qos"
  [8]=>
  s

[2016-07-15 10:39] pinepain commented on #242
Hi, I'm not sure that publish confirms available in 1.7.1. Try to build from master branch.

[2016-07-19 03:40] xchz commented on #242
hi,thank you for your reply.you are right,confirmSelect() function is not published in 1.7.1. i have build from master branch so i find confirmSelect() function. forgive my poor english ...

[2016-07-19 03:41] #242 closed

[2016-07-23 17:13] dedalozzo commented on #62
The example are here:

https://github.com/rabbitmq/rabbitmq-tutorials/tree/master/php-amqp

[2016-07-23 18:20] pinepain commented on #62
@lstrojny as there are already RabbitMQ tuttorials and less likely we have any further plan to do anything on this issue, let's close it.

[2016-07-23 18:22] dedalozzo commented on #62
I strongly suggest to link them in the README.

[2016-07-25 16:22] lstrojny commented on #62
@dedalozzo care to open a PR for it?

Closing this for now

[2016-07-25 16:22] #62 closed

[2016-08-01 09:21] prolic opened #243 "Use exception codes correctly"
F.e. the following exception:

[code]

has error code 0 instead of 403. This should be updated.

[2016-08-02 07:05] pinepain commented on #243
@prolic 403 is AMQP error code, not PHP exception code. But it may come in handy to propagate that error code to exception. I'll give it a look later this week.

[2016-08-03 15:37] jippi opened #244 "Access number of jobs currently prefetched on client"
Hi

It would be nice if a Channel had a method to expose the number of jobs actually prefetched from the broker.

`Channel::getPrefetchCount()` will return how many jobs it's supposed to fetch, but not how many it actually have fetched.

My usecase is the following:
- my process are running with `queue::consume()` (blocking) and prefetch of 5
- my process gets a signal to die gracefully (async, th

[2016-08-04 06:29] pinepain commented on #244
Hi

It is also what I want to have, but not sure whether we can access buffer of consumed messages while it is done on a rabbitmq-c (aka librabbitmq) level (a C library to interact with AMQP-compativle brocker, php-amqp extension written on top of it). I'll give it a look but not even sure any similar functionality exists in rabbitmq-c or whether it is public.

P.S.: Second parameter in a callback

[2016-08-04 08:07] jippi commented on #244
@pinepain alright, thanks for taking your time to investigate it ! really appreciate it!

[2016-09-01 09:16] maanenh opened #245 "No Exception during publish when connection is closed"
When publishing on an exchange no exception is thrown when the connection is closed. See next code fragment:

[code]

When the connection is closed between publishing the two messages (on the management console), I expected an Exception to be thrown when publishing the second message. Or to receive a false in $stat.

When there is no routing key in the messages it works as expected, but with a rou

[2016-09-01 09:40] pinepain commented on #245
Hi! Thanks for reporting!

Publishing is asynchronous operation which doesn't require response from server. Basically, under the hood, publish process done by writing data to socket and considering that message was sent. And it is not possible to get whether socket is opened or closed on the other end without actually use. There are [Confirms (aka Publisher Acknowledgements)](https://www.rabbitmq.

[2016-09-01 10:00] maanenh commented on #245
Thanx for the quick response.
Without routing key it works as expected and an Exception is thrown....

[2016-09-01 10:03] maanenh commented on #245
By the way:
I found a work-around.  By wrapping the publishing in a `$channel->startTransaction();` and a `$channel->commitTransaction();` .
The startTransaction() throws an AMQPException

[2016-09-01 10:29] pinepain commented on #245
Yeah, transactions are another way to have more reliable publishes. php-amqp supports both transactions and confirms, so get alongside what you like/fits your needs the best.

AMQP transaction methods (tx.select, tx.commit, tx.rollback) are two way, it means that client waits for transaction start/end confirmation, unlike [basic.publish](http://www.rabbitmq.com/amqp-0-9-1-quickref.html#basic.publi

[2016-09-28 10:02] francisbesset opened #246 "memory leak with AMQPConnection::connect()"
Calling connect() with rabbitmq down and I have a memory leak:

[code]

[2016-09-28 10:08] pinepain commented on #246
Hi, thanks for the report! Can you provide details, as specified in [How to report a problem](https://github.com/pdezwart/php-amqp#how-to-report-a-problem) readme section, e.g. php version (`php -v`), php-amqp version (`php --ri amqp`) OS type and a way you installed PHP and php-amqp.

[2016-09-28 11:25] francisbesset commented on #246
No problem.

[code]

[code]

[code]

Installed from brew:
[code]

[2016-09-28 12:45] pinepain commented on #246
I see you want to upgrade php-amqp to 1.7.1 which is not available yet, but I config the problem with 1.7.0. I'll try to check whether it happens in linux too, but valgrind haven't report anything there and it doesn't work properly on OS X yet (at least last time I tried it, it didn't).

[2016-09-28 12:53] francisbesset commented on #246
The problem exist with 1.7.0 installed from homebrew.
I created a PR to update to 1.7.1 https://github.com/Homebrew/homebrew-php/pull/3631

[2016-09-28 13:28] pinepain commented on #246
Ok, so does it persists in 1.7.1 or it was resolved in recent commits?

[2016-09-28 14:28] francisbesset commented on #246
With HEAD I have the same problem.

[code]

[2016-10-01 16:50] pinepain commented on #246
It looks like it is specific to PHP interactive-shell problem on OS X.

I tried to throw `\Exception` exception with PHP 5.6.26 built with `--with-debug` flag and which run without any other extension loaded and has memleak report. Though, when I run PHP in regular mode no memleak report triggered. I tested on OS X 10.11 and 10.12 with the same outcome.

[code]

[code]

[code]

[code]

[2016-10-01 18:18] lstrojny commented on #246
Closing.

[2016-10-01 18:18] #246 closed

[2016-10-02 06:03] francisbesset commented on #246
I confirm the problem is only PHP interactive-shell.

[code]

[2016-10-02 15:44] pinepain commented on #246
It should be fixed now in https://github.com/php/php-src/commit/f9d4b1a3f10765bae8e6a7ce950daaaf90f983f0.

[2016-10-02 18:10] francisbesset commented on #246
👍

[2016-10-08 17:58] sshilko opened #247 "Not compiled as shared together with php sources"
Hi, i'm trying to compile amqp as shared library together with whole php sources (7.0.11)

https://pecl.php.net/get/amqp-1.7.1.tgz
I built php successfuly and building extension by placing it into `ext/amqp`
per http://www.phpinternalsbook.com/build_system/building_extensions.html

and doing`--with-amqp=shared` after `--disable-all` and getting only extensions i need,
but **amqp is also built stat

[2016-10-08 19:48] pinepain commented on #247
Can you provide steps to reproduce, probably, a list of shell command you run to download, unpack, configure and so on?

[2016-10-09 01:52] sshilko commented on #247
[compile_php7.txt](https://github.com/pdezwart/php-amqp/files/518047/compile_php7.txt)

here is my build script

[2016-10-09 15:11] sshilko commented on #247
made a complete rebuilt, fresh php sources, freshly fetched  extensions sources.. same - compiled as static

[2016-10-09 17:19] pinepain commented on #247
While I'm trying to build in your way, I have few questions:

- Why do you need to build PHP manually?
- Have you tried to install non-core extensions with phpize && ./configure && make install?
- Does packaged PHP 7 with extensions work for you - https://launchpad.net/~ondrej/+archive/ubuntu/php?field.series_filter=precise?

[2016-10-09 18:02] pinepain commented on #247
Hm. Yeah, it looks it doesn't work, but I can't get why. I've never actually tried to build php with amqp this way and not sure where the problem comes from =(.

[2016-10-09 20:34] sshilko commented on #247
1. i use ondrey ppa, works for me, but i need own distribution now for my servers, cant always rely on Sury work.
2.non-core extension (redis) compiles fine as shared when put under ext/redis.
3. yes i use ondrey ppa atm. but switching to own ppa/deb for production servers, only issue is amqp being weird... i will probably work if i compile it with phpize..but for sake of science i want it to be s

[2016-10-11 20:31] sshilko opened #248 "Unable to link agains rabbitmq-c library --with-librabbitmq-dir"
Hi, i'm trying to link the library against my rabbitmq-c compiled shared lib.

I. i **built** rabbitmq-c library in my folder
`-DCMAKE_INSTALL_PREFIX=/usr/local/php7/7.0.11/lib/rabbitmq-shared/`

[code]

II. now building amqp (with phpize) agains that library

`/usr/local/php7/7.0.11/bin/phpize`
...
`./configure --with-php-config=/usr/local/php7/7.0.11/bin/php-config --with-amqp --with-pic --with-

[2016-10-11 20:39] sshilko commented on #248
Attaching Makefile from amqp
[Makefile.txt](https://github.com/pdezwart/php-amqp/files/522915/Makefile.txt)

[2016-10-11 20:41] sshilko commented on #247
phpize works, but does not recognize custom rabbitmq-c shared libraries https://github.com/pdezwart/php-amqp/issues/248

[2016-10-12 07:11] sshilko commented on #248
my bad
http://www.cprogramming.com/tutorial/shared-libraries-linux-gcc.html

pkg-config librabbitmq --libs
did showed up installed package

dpkg --get-selections | grep -v deinstall |less
also showed librabbitmq0 , probably some early compile installation result
purged those now there is no librabbitmq installed

**GCC first searches for libraries in /usr/local/lib, then in /usr/lib. Following tha

[2016-10-12 07:11] #248 closed

[2016-10-22 14:26] prolic opened #249 "Please tag new release"
There are quite some differences between v1.7.1 and current master. Escpecially the `AMQPBasicProperties` class. Would you please release a new minor release, so I can rely on a tagged version instead of dev-master?
Thanks a lot.

[2016-10-22 14:31] prolic commented on #223
I found out this a not a bug!

[code]

was missing.

[2016-10-22 14:31] #223 closed

[2016-10-22 14:32] prolic commented on #229
Any news? `$channel->close()` would really help a lot here. Can this be added soon?

[2016-10-23 16:46] pinepain commented on #229
@prolic Thanks for reminding. Sorry that that it took so long, here is [PR for this](https://github.com/pdezwart/php-amqp/pull/250).

Can you please test whether it?

[2016-10-24 07:11] prolic commented on #229
tested and works like a charm!

[2016-10-24 07:11] #229 closed

[2016-10-24 07:32] prolic commented on #216
can be closed now.

[2016-10-24 07:33] prolic commented on #243
this one would be nice for 1.8.0 as well.

[2016-10-24 07:46] #216 closed

[2016-10-24 07:46] lstrojny commented on #243
@pinepain yep, reusing the error code would indeed be cute.

[2016-10-25 07:48] pinepain commented on #243
I finally get to this. Please, give PR https://github.com/pdezwart/php-amqp/pull/251 a look and test. Thanks!

[2016-10-25 12:58] prolic commented on #243
Can be closed now.

Thanks a lot!

1.8.0 release please? :-)

[2016-10-25 12:58] #243 closed

[2016-10-25 17:00] prolic opened #253 "Issues with PHP 7.1 RC3"
Running the test-suite of https://github.com/prolic/HumusAmqp with PHP 7.1 RC3 gives test-failures that were not present with 7.0.8.

I need to make some investigations into this, but maybe you can verify this by adding 7.1 to the travis test suite and find some stuff yourself.

[2016-10-25 17:11] prolic commented on #253
I am about to compile PHP 7.1 RC5 and will test with this. Will give you updates as soon as I can.

[2016-10-25 18:11] prolic commented on #253
Your test suite fails on my machine with PHP 7.1 RC5:

[code]

Problems with https://github.com/prolic/HumusAmqp also still persists (two failing test-cases) - will investigate into those asap.

[2016-10-25 20:12] pinepain commented on #253
Confirmed, build fails (https://travis-ci.org/pinepain/php-amqp/jobs/170544567), will fix it now.

[2016-10-25 20:20] pinepain commented on #253
ptal https://github.com/pdezwart/php-amqp/pull/254

[2016-10-31 13:48] pinepain commented on #253
@prolic can you please try current master and see whether the issue resolved by #254 and whether your failed tests on 7.1 relevant to php-amqp?

[2016-11-01 08:54] prolic commented on #253
confirmed, all works now

[2016-11-01 08:54] #253 closed

[2016-11-01 08:58] prolic commented on #225
As there is probably nothing we can do, because we have no further information and the problem cannot get reproduced, I'll close this now.

[2016-11-01 08:58] #225 closed

[2016-11-01 08:58] prolic commented on #249
@lstrojny @pinepain

Ready for 1.8.0 release?

[2016-11-01 11:56] lstrojny commented on #249
@prolic I will prepare a beta today

[2016-11-01 14:50] lstrojny commented on #249
https://pecl.php.net/package/amqp released

[2016-11-01 14:50] #249 closed

[2016-11-01 14:50] #219 closed

[2016-11-01 14:50] lstrojny commented on #219
Closing for now

[2016-11-01 14:52] prolic commented on #249
Thanks a lot! :+1:

[2016-11-01 15:49] pkruithof opened #255 "Request for changelog"
Since 1.8-beta was released, just 45 minutes ago, our Travis builds are failing. We required 1.7 before, but left the stability on beta since it was not stable at that time.

Now this is easily fixed for us to use 1.7 stable, but I was curious about any possible breaking changes in this extension. However I cannot find any documentation for this.

Would greatly appreciate it if a changelog could b

[2016-11-01 17:33] pinepain commented on #255
What exactly failed on your side? Changelog is available on pecl (https://pecl.php.net/package-changelog.php?package=amqp), you also can list difference between tags - https://github.com/pdezwart/php-amqp/compare/v1.7.1...v1.8.0beta1.

[2016-11-02 09:04] pkruithof commented on #255
Ah thanks, I did not know that location. Is the extension released by semver standards? In other words, should I expect no breaking changes from 1.7 to 1.8?

I don't think the error has to do with any breaking changes, as it was simply something like `fatal error: class \AMQPConnection could not be found`. Maybe the extension failed to install on Travis or something. I'll look into that later.

[2016-11-02 09:17] lstrojny commented on #255
@pkruithof we indeed try to follow semantic versioning as much as possible so no breaking changes should happen in 1.8.

[2016-11-02 12:07] pkruithof commented on #255
Allright, issue can be closed then, thanks for the info!

[2016-11-02 12:07] #255 closed

[2016-11-04 18:55] pinepain opened #256 "Missed files in package.xml"
Remi reported that we have some files missed from package.xml http://news.php.net/php.pecl.dev/14097

[2016-11-06 21:43] lstrojny opened #257 "API refactoring for 2.0"
Ideas for API changes for 2.0:

 - Move everything to the `AMQP` namespace
   - `AMQP\Connection`, `AMQP\Exchange`, `AMQP\Queue`, etc.
 - Make constants class constants to make it easier to understand what options are present
   - E.g. `Exchange::DIRECT`, `Exchange::FANOUT`, `Queue::EXCLUSIVE`, `Queue::DURABLE` etc.
   - Add constant visibility
  - Get rid of `AMQP_NO_PARAM`, it’s weird
 - Move `A

[2016-11-06 21:44] lstrojny commented on #257
@pinepain I am sure you have plenty of good ideas as well. Looking forward for comments & more ideas.

[2016-11-07 08:22] lstrojny commented on #256
Sorry, fixed in 1.8.0beta2.

[2016-11-07 08:22] #256 closed

[2016-11-07 08:22] pinepain commented on #256
Thanks!

[2016-12-01 01:08] huangfeng123 opened #258 "AMQPException: Library error: a socket error occurred"
Hi, i got a lot of 'Library error: a socket error occurred ' when i set heartbeat values to 6 , when i restart rabbitmq server and never restart the php-fpm  i got the error too; i try to catche the exception but no luck , i try https://github.com/pdezwart/php-amqp/issues/192 , but doesn't work too, I do not know what to do now

 uname -a
Linux localhost.localdomain 2.6.32-431.el6.x86_64 #1 SMP Fr

[2016-12-01 11:44] pinepain commented on #258
Hi! Does reloading php-fpm solves the issue? What PHP and RabbitMQ version do you use? Also, it would help a loot if you share minimal example to reproduce the issue you see alongside with step by step instruction to reproduce it.

[2016-12-01 12:55] huangfeng123 commented on #258
@pinepain  yes, reloading php-fpm can solves the issue;  php version is 7.0.6 and rabbitmq version is 3.6.5;
when i run the code as follows i get the error. thanks

$conn_args = array(
	'host' => '192.168.204.72',
	'port' => '5672',
	'login' => 'root',
	'password' => 'root',
	'heartbeat' => 6
	);
$conn = new AMQPConnection($conn_args);
if ($conn->pconnect()) {
    echo "Established a connection to

[2016-12-10 03:08] yeoman-chen opened #259 "librabbitmq.so.4: cannot open shared object file"
php -im | grep 'ampq'

PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/local/php7/lib/php/extensions/no-debug-non-zts-20151012/amqp.so' - librabbitmq.so.4: cannot open shared object file: No such file or directory in Unknown on line 0

how to solve it ?

[2016-12-10 03:54] thomasbley opened #260 "consume fetches all messages from queue"
`<?php
$cnn = new AMQPConnection();
$cnn->connect();

$ch = new AMQPChannel($cnn);
$q = new AMQPQueue($ch);
$q->setName('queue1');
$q->declareQueue();

$ex = new AMQPExchange($ch);
$ex->publish('hello world 1', 'queue1');
$ex->publish('hello world 2', 'queue1');

$q->consume('consume', AMQP_AUTOACK);

$cnn->disconnect();

$cnn = new AMQPConnection();
$cnn->connect();
$ch = new AMQPChannel($cnn);
$

[2016-12-10 04:04] thomasbley commented on #260
using get() gives the expected output:

`<?php
$cnn = new AMQPConnection();
$cnn->connect();

$ch = new AMQPChannel($cnn);
$q = new AMQPQueue($ch);
$q->setName('queue1');
$q->declareQueue();

$ex = new AMQPExchange($ch);
$ex->publish('hello world 1', 'queue1');
$ex->publish('hello world 2', 'queue1');

$msg = $q->get(AMQP_AUTOACK);
echo $msg->getBody().PHP_EOL;

$cnn->disconnect();

$cnn = new AMQ

[2016-12-10 11:37] pinepain commented on #260
Hi, looks weird, as `AMQP_AUTOACK` used, messages should be sent one by one, ignoring `prefetch_count` option.

What PHP, php-amqp and RabbitMQ version do you use?

[2016-12-10 11:40] pinepain commented on #259
Hi! As it written, it hard to provide helpful output. Can you please follow [How to report a problem](https://github.com/pdezwart/php-amqp#how-to-report-a-problem) steps?

[2016-12-14 03:44] thomasbley commented on #260
here are the packages:
dpkg --list | grep -E "amqp|rabbitmq-server|php7.0-cli"
`ii  php-amqp                         1.7.1-1+deb.sury.org~trusty+1        amd64        AMQP extension for PHP
ii  php7.0-cli                       7.0.14-1+deb.sury.org~trusty+1       amd64        command-line interpreter for the PHP scripting language
ii  rabbitmq-server                  3.6.6-1

[2016-12-14 03:49] thomasbley commented on #260
same results with PHP 5.6.29-1+deb.sury.org~trusty+1

[2016-12-15 12:08] madzerling opened #261 "Header value is always "true", even when is set to "false""
When header is set like this:
`
$properties['headers']['test'] = false;
$exchangeObj->publish($content, $queue, AMQP_DURABLE, $properties);
`
Message in RabbitMQ Web admin panel (and in scripts) contains this header set to boolean "true".

[2016-12-16 06:52] pinepain commented on #261
Hi! Thanks for reporting.

What php-amqp, PHP and RabbitMQ do you use? Also, minimal complete example to reproduce the issue are highly welcomed (to prevent any misunderstanding).

[2016-12-22 09:34] stof opened #262 "ETA for a stable release supporting PHP 7.1"
I see that you added support for PHP 7.1 in 1.8-beta2. Do you have an ETA for a stable release supporting PHP 7.1 ?

[2016-12-22 10:32] pinepain commented on #262
Hi, existent stable version already has full PHP 7.1 support. Recently added commits are  just about  fixing passing test because of minor change in error message and running extra test against 7.1, but even before that it was known to work with 7.1 RCs.

[2016-12-22 11:41] dzuelke commented on #262
Would still be nice to get a stable release tagged sometime; that SSL support would be quite handy :)

[2016-12-23 21:12] lstrojny commented on #262
@dzuelke @stof @pinepain targeting 2nd half of January for a new stable release

[2016-12-23 21:21] dzuelke commented on #262
Fantastic! Thank you!

[2017-01-07 17:45] gjedeer opened #263 "Accept NULL value in headers"
You even seem to have a [test case](https://github.com/pdezwart/php-amqp/blob/d831c5650237a0abe9721c4386217022ea622c98/tests/amqpexchange_publish_with_properties_ignore_unsupported_header_values.phpt) for assuring that NULL values are not serialized, is it something you plan on implementing or do you have some kind of deeper objections against using NULL?

My use case is the [Celery protocol](http

[2017-01-07 18:59] pinepain commented on #263
Hi @gjedeer! In AMQP protocol `NULL` is not supported as a standalone type, the closest data type is `void`, which in meaning is close the same. Does Celery uses it for nulls?

From [AMQP Protocol Specification 4.2.1 Formal Protocol Grammar](https://www.rabbitmq.com/resources/specs/amqp0-9-1.pdf)

[code]

So now I recall that at the time of refactoring I didn't handle NULL as it was not clear how

[2017-01-07 19:15] gjedeer commented on #263
Thank you for your ultra fast answer! Void worked, although I was not able to test it completely because my patch somehow resulted in an empty array instead of array of two Voids.

It seems so ("None" is Python for "NULL"):
https://github.com/celery/py-amqp/blob/ab395a0a19a52afaec3047e43a7b52b9b31d8313/amqp/serialization.py#L145
https://github.com/celery/py-amqp/blob/ab395a0a19a52afaec3047e43a7b52

[2017-01-07 23:27] pinepain commented on #263
@gjedeer Can you please test whether #264 solves this problem?

[2017-01-07 23:28] pinepain commented on #261
@madzerling Can you please test whether #264 solves this problem?

[2017-01-07 23:31] pinepain opened #265 "AMQP decimal data type support missed"
Also, we need to check overall AMQP data types support and correctness.

[2017-01-09 18:50] gjedeer commented on #263
Yeeeeeeah! It worked, thank you a lot. There are still some failing tests in celery-php but if I discover the problem is related, I'll open another issue.

[2017-01-13 16:52] madzerling commented on #261
I'm using prebuild last avail versions of PHP (7.1) and php-amqp (php-pecl-amqp-1.8.0-0.3.beta2.el7.remi.7.1.x86_64) from REMI centos repo, and Rabbit (RabbitMQ 3.6.6).

To reproduce just connect to rabbit, put message in any query with properties as i mentioned above. Then read this message and check value of this property.

[2017-01-17 14:35] #261 closed

[2017-01-17 14:35] lstrojny commented on #263
Merged

[2017-01-17 14:35] #263 closed

[2017-02-07 13:09] DaSteph opened #267 "Consumer not removed on read timeout"
When using amqp.read_timeout and AMQPQueue->consume() is interrupted the consumer resource is not properly cleaned and the targeting RabbitMQ-Server is running in to memory issues:

[code]

When you let this run and watch the server, you can see, that the number of consumers is increasing until the connection is closed. In our case the connection will not be closed and the number of consumers is i

[2017-02-08 10:12] pinepain commented on #267
Hi @DaSteph, thanks for bringing up this issue!

At this time no consumer canceling done under the hood, so you should probably do it yourself. I would try to do sth like this:

[code]

[2017-02-08 12:15] DaSteph commented on #267
Dear Bodgan,

thank you very much for this prompt reply. I tested it with my testscript and it looks very promising!

[2017-02-08 12:15] #267 closed

[2017-02-11 23:24] dzuelke commented on #262
Poke? :)

[2017-02-12 21:05] lstrojny commented on #262
@pinepain do you want me to wait for #265?

[2017-02-13 07:16] pinepain commented on #262
@lstrojny no, it may take a while and those issues are not critical, we'll include them in a next patch or minor release.

[2017-02-13 07:24] pinepain commented on #113
@lstrojny I guess we can close this one for reasons written above and as original issue was filled in 2014 and it's 2017 nowaday. We could consider sth like this in a v2 (#257) or if someone (probably, original author @joshdifabio, if he still interested) describe how this exposed socket could be useful (taking in mind written above about how that socket used or may be used withing librabbitmq int

[2017-02-13 07:35] pinepain commented on #259
I guess we can close this for now, if there will be more details, feels free to submit new issue. Before doing that, check [How to report a problem ](https://github.com/pdezwart/php-amqp#how-to-report-a-problem) link. Thanks! /cc @lstrojny

[2017-02-13 09:07] lstrojny commented on #262
@pinepain 👍

[2017-02-16 18:16] shouze commented on #262
so in this case, maybe guys it's time for a stable release? channel close is a very cool feature that deserves to make a release.

[2017-02-16 21:39] lstrojny commented on #262
1.8.0 has been released. Thank's for your patience.

[2017-02-16 21:39] #262 closed

[2017-02-19 10:02] ostin654 opened #268 "undefined symbol: amqp_ssl_socket_set_verify_peer"
Installed PHP 5.6.30 and now getting WARNING

PHP Warning:  PHP Startup: Unable to load dynamic library '/usr/lib64/php/modules/amqp.so' - /usr/lib64/php/modules/amqp.so: undefined symbol: amqp_ssl_socket_set_verify_peer in Unknown on line 0

Package php-pecl-amqp-1.8.0-1.el6.remi.5.6.x86_64 installed and the latest version.

[2017-02-19 12:30] lstrojny commented on #268
@ostin654  which librabbitmq library (sometimes amqp-c or libamqp) version do you have?

[2017-02-19 15:33] ostin654 commented on #268
Did not look for it. But after I updated my system (via yum update), everything went fine.

[2017-02-19 15:33] #268 closed

[2017-02-27 06:46] pinepain commented on #265
I'm not sure it could be closed as `AMQP_FIELD_KIND_DECIMAL` still not handled (see [amqp_basic_properties.c:443-L445](https://github.com/pdezwart/php-amqp/blob/df294a6bef638a50daa45f095139187e4ef6b8ac/amqp_basic_properties.c#L443-L445).

[2017-02-27 10:08] lstrojny commented on #265
@pinepain hmmm, good point, any idea how I can trigger that code path?

[2017-02-27 11:08] pinepain commented on #265
Less likely we can trigger decimals at this time, as we don't handle them at all: neither encode nor decode.

TL;DR

The necessity in AMQP decimal type support related mostly to other amqp tools integration. I guess python's pika can encode decimals, but for php it's hard to say how we should interpret them, they  should fit `zend_long` most time, but it's a part I'm not 100% sure about.

From [AM

[2017-02-27 17:01] pinepain commented on #265
@lstrojny please, give a look to #269, at this time, I guess, it's the best we can do.

[2017-02-27 17:52] lstrojny commented on #265
Puh, that’s a tough nut.

I think it boils down to two questions: how can we lossless map decimals in PHP. GMP doesn’t help as it only deals with integers (so yes, theoretically we could come up with some sort of encoding but that sounds crazy). That leaves us with bcmath. ext/bcmath wouldn't be too problematic as a dependency as it is shipped with PHP. But: it doesn’t actually help since bcmath o

[2017-02-27 18:31] pinepain commented on #265
I haven't use decimals in PHP for ages, so I might be biased on actual use case.

`AMQPDecimal` looks great, I saw [AMQPDecimal from php-amqplib](https://github.com/php-amqplib/php-amqplib/blob/master/PhpAmqpLib/Wire/AMQPDecimal.php) and I guess we can adopt it idea, but shrink down to

[code]

It somehow complicates both receiving and sending a bit, it opens to those who really need it a way to r

[2017-02-27 18:34] pinepain commented on #259
ping @lstrojny close?

[2017-03-01 20:11] lstrojny commented on #265
On the use case side: financial applications are typical clients of decimal encodings.

On the encoding side, I think we should have full referential transparency on `encode(decode(encode(decode(…))))` scenarios. As soon as we either decode decimals to strings we would lose that.

Although it’s more work I think we should go with a value object for decimals.

[2017-03-01 20:11] lstrojny commented on #259
Yes

[2017-03-01 20:11] #259 closed

[2017-03-01 20:24] pinepain commented on #265
Indeed. Value object sounds as the best intermediate solution at this time. Will give it a look.

[2017-03-01 21:15] lstrojny commented on #265
@pinepain thanks so much!

[2017-03-02 00:25] lstrojny opened #271 "Support dead-lettering headers"
RabbitMQ will maintain an `x-death` header field where one can see dead lettering metadata (counts, original queues/exchanges, routing keys, etc.). The schema is:

[code]

Right now we are not supporting publishing array and timestamp values so this example of republishing a message from a dead letter queue will not work:

[code]
… but instead fail with this error:
[code]

### What’s needed
 - Sup

[2017-03-02 00:54] lstrojny commented on #271
@pinepain if you agree with the numeric PHP array to AMQP array strategy, I would first merge just that so that we don’t have merge conflicts for the decimal support case. For decimal support we would hook into `internal_convert_php_to_amqp_field_value()`), same for e.g. for timestamp support.

[2017-03-02 07:16] pinepain commented on #271
@lstrojny Hi, thanks for noticing. Yeah, it's clearly a bug/incomplete feature. I gave a look to linked commit (9437906) and it looks good. Please, take a look to my comments there.

As timestamps, how to you plan to store it value (within value object)? Timestamp is `uint64_t`, and `ZEND_LONG_MAX` is `INT64_MAX`, so we potentially may get an overflow. Are we cool to store it as a `double`?

I've

[2017-03-02 21:44] lstrojny commented on #271
Very good point on the overflow case. I would say: let's encode as a string internally and be done with it. That way we don't need to care about anything weird.
On handling it: my plan was to work on it over the weekend. I'll start merging the array handling code and then work on timestamp. Maybe you can base decimal support on the merged array handling code to ease merging.

[2017-03-02 21:50] lstrojny commented on #271
Another point, as we are starting to go down the value object route: what if we set the following standards:

- each VO has a `__toString()`
- every VO has an interface that we actually rely so that people don't need to inherit from our actual implementations (e.g. In the timestamp case we would rely on `string AMQPTimestampInterface::getTimestamp()` not on the actual concrete implementation. This

[2017-03-03 06:53] pinepain commented on #271
As I wrote above, I'm not fond of idea to keep in extension things that could be implemented in PHP for a maintainability reasons. I saw #257 and think that functionality we discuss are on the edge of v1 and v2. I like the approach in amqplib to force user to explicitly pass type they want to use. It takes out many questions from extension level to userland. In brief - let's keep timestamp/decimal

[2017-03-03 08:51] lstrojny commented on #271
Fair point, let’s keep it as simple as possible

[2017-03-12 17:19] pinepain commented on #271
@lstrojny is it still relevant?

[2017-03-12 18:06] lstrojny commented on #271
Can indeed be closed.

[2017-03-12 18:06] #271 closed

[2017-03-12 18:07] #265 closed

[2017-03-13 05:39] remicollet opened #273 "[1.9.0beta1] segault on some 32-bit arches"
On RHEL-6 i386 (probably related to security hardened build option, `-Wp,-D_FORTIFY_SOURCE=2 -fexceptions -fstack-protector`)

[code]

[2017-03-13 09:11] #273 closed

[2017-03-22 16:21] EagleEyeJohn opened #275 "glibc detected"
Hi

This looks to the untrained eye to be a problem with pecl-amqp or librabbitmq?

Hopefully I've posted in the right place?

[code]

[code]

[2017-03-22 16:52] pinepain commented on #275
Hi! I would definitely update `librabbitmq` and `php-amqp` itself to more recent version and see whether error still present and only then start looking into the issue.

Please post php code to reproduce the issue so that we could start looking into it in parallel, just in case it's a bug that hasn't been covered yet.

[2017-03-23 18:49] lstrojny commented on #258
@huangfeng123 did you try this with the latest 1.9.0?

[2017-03-23 18:49] lstrojny commented on #247
closing

[2017-03-23 18:49] #247 closed

[2017-03-23 18:50] lstrojny commented on #113
Alright, closing

[2017-03-23 18:50] #113 closed

[2017-03-23 18:50] lstrojny commented on #222
@pinepain will you look into this?

[2017-03-23 18:51] lstrojny commented on #241
@pinepain ping

[2017-03-23 18:51] lstrojny commented on #244
Closing this now.

[2017-03-23 18:51] #244 closed

[2017-03-23 19:49] pinepain commented on #241
@lstrojny I get back to this issue multiple time and still have nothing to add to my initial comment above https://github.com/pdezwart/php-amqp/issues/241#issuecomment-232594746: due to how transactions and publish confirms works in rabbitmq and also taking into account that publish confirms implemented in a blocking way, they are both slower then raw publish. The rest performance question should

[2017-03-23 19:52] lstrojny commented on #241
Thanks so much, @pinepain!

[2017-03-23 19:52] #241 closed

[2017-03-23 20:01] pinepain commented on #222
Not sure it's a php-amqp issue. While it's clear that original bug was caused that in php-amqp host verification was turned off while it was enabled on rabbitmq side, it looks like segfault originated from librabbitmq.

@alanxz, can you clarify how librabbitmq handle this case please? Setting ssl certs and peer verification is done in these lines - https://github.com/pdezwart/php-amqp/blob/0b8d2ba

[2017-03-25 14:40] prolic commented on #241
Citing https://www.rabbitmq.com/confirms.html:

So according to rabbitmq.com confirm select should be faster, not slower.

[2017-03-25 15:19] pinepain commented on #241
Hi, thanks for writing. You are absolutely correct, on AMQP level  it is so, though, in php-amqp  we call confirm callback set from `AMQPChannel::setConfirmCallback()` and together with `AMQPChannel::waitForConfirm()` implemented in a blocked manner it adds all that overhead you see in a the benchmark.

To make it more visible, alter your test case to log confirm callback call, e.g.:

[code]

In b

[2017-03-25 15:23] prolic commented on #241
Thanks @pinepain

[2017-03-26 02:12] alanxz commented on #222
The stacktrace above looks like its coming from the cURL trying to un-initialize OpenSSL.

By default rabbitmq-c attempts to initialize and un-initialize OpenSSL. If more than one part of a program (like PHP) tries to do this initialization, this will result in undefined behavior.

If there's a way to ensure that OpenSSL is initialized before attempting to open an SSL socket, you can stop rabbitmq

[2017-03-30 01:38] huangfeng123 commented on #258
@lstrojny Hi , I have tried it， but it does't work too.  I restart the rabbitmq_server , doesn't restart php-fpm , when the rabbitmq pconnection num  less than  php-fpm num , i will get the error.  But short connect doesn't has this question .

thanks~

[2017-03-30 07:55] jippi commented on #258
I'm seeing the same issue from cli apps

[2017-03-31 01:53] huangfeng123 commented on #258
@jippi Hi, is there a solution ? can you provide URL. thanks ~

[2017-04-12 15:28] lyrixx opened #276 "Shutdown is very slow"
Hello.

First, Thanks a lot for this lib. We are using it from 1.4 (or before, I don't remember).

I was doing a little benchmark and I notice something very strange. If I publish lots of message, PHP is going slow to finish. The more message I publish, the more I have to wait.

<details>
<summary>My PHP configuration</summary>

[code]

with:

[code]
</details>

<details>
<summary>The PHP script</

[2017-04-12 19:03] pinepain commented on #276
Hi Grégoire,

thanks for bringing this up. I just run your script locally with local RabbitMQ instance and I can confirm this issue. I'll look into why it is so and what can we do about it.

[2017-04-12 19:45] pinepain commented on #276
Interestingly, I did some quick measurements to catch the bottleneck and it came up that `amqp_channel_close()` call takes significant amount of time when a lot of messages published:

[code]

<details>
<summary>here is a quick patch to see that</summary>

[code]
</details>
<br>

Further test shows that when a lot of messages published at once, next AMQP method takes significant amount of time to

[2017-04-13 11:54] lyrixx commented on #276
Thanks for theses detail.

So I guess we cannot do anything here and so we can safely close this issue?

[2017-04-13 12:32] pinepain commented on #276
Yupp, I guess we could close the issue.

[2017-04-13 12:41] #276 closed

[2017-04-13 12:41] lyrixx commented on #276
thanks.

[2017-04-15 11:57] sylarzhou opened #277 "cli 已停止工作 window7"
问题事件名称:	APPCRASH
  应用程序名:	php.exe
  应用程序版本:	7.1.3.0
  应用程序时间戳:	58c87ee3
  故障模块名称:	php_amqp.dll
  故障模块版本:	7.1.0.0
  故障模块时间戳:	58d523df
  异常代码:	c0000005
  异常偏移:	000000000000ac20
  OS 版本:	6.1.7601.2.1.0.256.48
  区域设置 ID:	2052
  其他信息 1:	caa2
  其他信息 2:	caa2f125106821dd92f2c379391ff584
  其他信息 3:	627e
  其他信息 4:	627efa718b30de860ca6c2846d4e489b

[2017-04-15 14:24] pinepain commented on #277
Hi!

Can you please specify following info:
 - platform (x32 or x64);
 - php version and build (`php -v` and `php -i | head -n40`;
 - php-amqp version (`php --ri amqp`) and a way you installed it;
 -  librabbitmq version and a way you installed it.

[2017-04-21 02:49] #277 closed

[2017-05-05 13:05] Taluu opened #278 "Support URIs as connection information"
Currently, you can log-in only with an array containing the `host`, `login`, `password`, and so on. [On the AMQP specs](https://www.rabbitmq.com/uri-spec.html), we should be able to log-in with an URI, like `amqp://foo:bar@locahost:5672/my/vhost`. Especially as `login`, `password`, `vhost` and `port` are optionnal parts.

Any plan to support this ? Thanks

[2017-05-11 15:54] ambrous commented on #258
I had the same error and a reducing of prefetch count solved it. I set prefetch_count to 1 (3 by default)

I read a rabbit server error log and after found this: http://stackoverflow.com/questions/35438843/rabbitmq-error-timeout

[2017-05-23 03:55] zx3305 opened #279 "$queue->setFlags(AMQP_AUTODELETE); I want to create a defined value like "AMQP_AUTODELETE" ，such as "AMQP_NOTAUTODELETE""
$queue->setFlags(AMQP_AUTODELETE);  I want to create a defined value like "AMQP_AUTODELETE" ，such as "AMQP_NOTAUTODELETE"

[2017-05-23 05:57] pinepain commented on #279
Hi! Queues are created with `auto-delete` flag set to false by default. Note, that if queue has been never used by any consumer, it won't be deleted.

[2017-06-04 13:42] prolic opened #280 "Segmentation faults since updated to PHP 7.1.5"
All I can tell for now is I receive segmentation faults since upgraded to PHP 7.1.5. I need to work on a reproducible script, but maybe you noticed this already yourself?

[2017-06-04 15:42] pinepain commented on #280
Hi @prolic, thanks for reporting!

I just run extension tests using fresh PHP 7.1.5 installed with phpbrew in a vagrant box provided with extension:

[code]

and no casualties detected.

Can you provide more details as OS, platform, PHP version string (`php -v`), SAPI and a way you installed it. Also please note what php-amqp, librabbitmq and RabbitMQ itself versions you are running and a way you

[2017-06-04 18:07] makasim commented on #280
It works fine for me. I use amqp extension in a docker container.

* ubuntu 17.04
* PHP 7.1.5-1+deb.sury.org~xenial+2 (cli)
* amqp ext 1.9.0

[2017-06-04 18:25] prolic commented on #280
I will try to give more details tomorrow.

Sascha-Oliver Prolic

2017-06-05 2:07 GMT+08:00 Maksim Kotlyar <notifications@github.com>:

[2017-06-04 18:49] makasim commented on #280
@prolic  you could try this `php -d xdebug.auto_trace=ON -d xdebug.trace_output_dir=/tmp consumer.php`. It would at least show you the place in php  where it seg faults.

[2017-06-05 16:14] prolic commented on #280
I received the mentioned segfault on travis, I tried to reproduce locally but failed to do so.

A test-PR showing the travis results is here: https://github.com/prolic/HumusAmqp/pull/39

I also tried to isolate the failing test case, but then travis did not complain with segfault, so I had to still run the whole test-suite to get this error. You can see the xdebug trace in the raw log of the travi

[2017-06-05 16:50] pinepain commented on #280
@prolic Unfortunately, the log file link is expired. Can you publish it as an attachment or post on gist, please?

[2017-06-05 17:04] pinepain commented on #280
@prolic can you run same tests without xdebug, please? I had an issue once because of xdebug bug, let's see whether we go in a right direction before searching for the issue in php-amqp. The xdebug trace in log doesn't say much, so I guess you can turn it off.

[2017-06-05 17:20] makasim commented on #280
As a side note, the xdebug extension is disabled on my setup.

[2017-06-05 19:15] prolic commented on #280
[code]

even with xdebug disabled

[2017-06-05 19:21] prolic commented on #280
Again running only the failing test case travis is green. Unfortunately only on travis, cannot reproduce on my machine.

[2017-06-05 19:51] pinepain commented on #280
I wouldn't exclude that's it's a travis-specific issue as I've also faced with it before. The sudo-enabled Precise travis image was recently updated, so it might be a cause.

Can you test whether the issue happens with [Trusty](https://docs.travis-ci.com/user/trusty-ci-environment/) by adding `dist: trusty` to your `.travis.yml`.

[code]

TL;DR

Precise is way too old and already EOL. I guess if @

[2017-06-06 09:07] prolic commented on #280
I tested with trusty and rabbitmq-c v0.8 and php-amqp (from master) both self-compiled, and still get the segfault during tests.

[2017-06-06 11:11] pinepain commented on #280
@prolic thanks for figuring that out. Is there any chance to localize the error? Just in case, you my run tests under gdb and then get backtrace on segfault. Unfortunately, I can't reproduce the issue locally. Can you script gdb to get backtrace for you (http://www.commandlinefu.com/commands/view/4039/print-stack-trace-of-a-core-file-without-needing-to-enter-gdb-interactively, https://stackoverflo

[2017-06-06 16:33] prolic commented on #280
I enlarged the build matrix like this:
[code]

7.0 and 7.1.1 works, from 7.1.2 on it fails, if that helps.
There was a change with DateTime(Immutable) object in 7.1.2 when I remember correctly, maybe that's the root of the problem?

I am trying to get a gdb trace now.

[2017-06-06 18:28] prolic commented on #280
I tried this on travis:
[code]

it doesn't seem to work, any suggestions?

[2017-06-06 21:41] lstrojny commented on #280
@prolic can you paste the build URL where you tried adding GDB?

[2017-06-07 10:33] prolic commented on #280
the test-pr is here: https://github.com/prolic/HumusAmqp/pull/41
latest build is here: https://travis-ci.org/prolic/HumusAmqp/builds/240062584

any suggestions are welcome.

[2017-06-08 13:42] makasim opened #281 "Consume from multiple queues. There is no way to tell what message from what queue came."
Given the example [amqpqueue_consume_multiple](https://github.com/pdezwart/php-amqp/blob/master/tests/amqpqueue_consume_multiple.phpt) there is no way to tell what was the exact queue the message came from. The [envelop.consumer_tag](https://github.com/alanxz/rabbitmq-c/blob/master/librabbitmq/amqp.h#L2218) is not taken into account nor [set to message](https://github.com/pdezwart/php-amqp/blob/ma

[2017-06-08 15:24] makasim commented on #281
for reference the phpamqplib [supports this behavior](https://github.com/php-amqplib/php-amqplib/blob/master/PhpAmqpLib/Channel/AMQPChannel.php#L985) and the OldSoundRabbitmqBundle provides even a [multiple consumer feature](https://github.com/php-amqplib/RabbitMqBundle#multiple-consumers).

[2017-06-08 15:59] pinepain commented on #281
Hi! Thanks for bringing this up.

Yeah, for some reason `consumer_tag` is missed from `AMQPEnvelope`, just add it.

As to queue to consumer tag, it's a great idea, that second parameter to consumer was known to be broken, so it's a good way to fix that. Will try to take care of it.

[2017-06-08 16:28] makasim commented on #281
I'll try to do the first solution ( I am PHP dev but I want to try). The second is way over my head to do myself.

[2017-06-08 17:24] pinepain commented on #281
@makasim I've already added consumer tag (see https://github.com/pdezwart/php-amqp/compare/master...pinepain:add-consumer-tag?expand=1), so you can maintain consumer tag to queue on application level. Note that consumer tag is guaranteed to be unique only within channel, so two channels may use the same consumer tag.

[2017-06-08 18:57] makasim commented on #281
@pinepain That was way too fast. Thanks!

Are you going to implement the second part? That's enough what you've done but want to make clear what to expect.

[2017-06-08 19:02] pinepain commented on #281
Yeah, working on that, it's a bit tricky as we still need to support PHP 5 which I haven't touch for ages 😄 .

[2017-06-08 22:01] pinepain commented on #281
@makasim  Can you please try https://github.com/pdezwart/php-amqp/pull/282 and see whether it is what you mean?

[2017-06-08 23:04] #281 closed

[2017-06-09 08:28] makasim commented on #281
@pinepain It works for me. Thanks for your amazing and fast work.

[2017-06-09 11:21] pinepain commented on #257
Looking at PHP supported versions roadmap (http://php.net/supported-versions.php), it seems to be that we could try to target PHP 7.1 as at the moment new php-amqp become  mature 7.0 might run into security fixes only stage and we will have to support both of them (which means reduced features number we can utilize). What do you think, @lstrojny and others?

[2017-06-09 21:22] pinepain commented on #280
Just got a backtrace:

[code]

[code]

[2017-06-10 00:16] pinepain commented on #280
After spending whole night, i'm not quite sure it's php-amqp problem, it looks like some issue with opcache, but i'm not sure. Here is demo build - https://travis-ci.org/pinepain/HumusAmqp/builds/241395903 and here is relevant code - https://github.com/pinepain/HumusAmqp/blob/master/tests/AbstractQueueTest.php#L74-L87. For some reason this array of 5 elements after few iterations is reported as it

[2017-06-10 01:33] pinepain commented on #280
It came up that it was really php-amqp bug: arguments array was not separated so all changes on arguments done via `{AMQPQueue,AMQPExchange}::setArgument()` methods reflected on original array. Before PHP 7.1.2 opcache was disabled in CLI, so it somehow workd, but with opcache the problem just became visible: we were mutating immutable arrays (arrays which content is fully deterministic at compile

[2017-06-10 19:00] pinepain commented on #237
@dakulov Hi, sorry for taking it so long. In #282 and #284 we finally passes proper queue to consumer callback. Unfortunately, not much to do in advance about original issue about consuming on exact channel: as Alan mentioned, at the moment it's not a something which is easily achievable from internals, neither how AMQP protocol works. The best guess is to handle envelopes by yourself: with proper

[2017-06-10 19:04] pinepain commented on #279
@lstrojny i guess we can close this as not much to do about it.

[2017-06-10 19:05] pinepain commented on #275
ping @EagleEyeJohn  any updates on issue? Do you still have it?

[2017-06-11 11:25] prolic commented on #280
Verified, it works with your patch! Great job!

Can I expect a mini-release with the bugfix asap?

[2017-06-12 01:54] zx3305 commented on #279
you are right.

[2017-06-12 13:08] #279 closed

[2017-06-12 13:09] lstrojny commented on #257
@pinepain makes sense. That allows us to add type hints everywhere which is a nice side effect

[2017-06-12 13:10] lstrojny commented on #237
Closing this for now

[2017-06-12 13:10] #237 closed

[2017-06-12 13:11] #280 closed

[2017-06-12 13:43] pinepain commented on #278
Hi @Taluu, sorry for late response.

To clarify, https://www.rabbitmq.com/uri-spec.html is RabbitMQ URI Specification, not AMQP.

As Internally php-amqp will have to parse that url into components so it would add unnecessary complexity to extension. Supporting RabbitMQ AMQP URL scheme could be done out of extension codebase in userland with much less efforts and on-needed basis.

[2017-06-12 13:47] makasim commented on #278
you can do it If you choose `enqueue/amqp-ext` which is built on top of this awesome extension

https://github.com/php-enqueue/enqueue-dev/blob/master/docs/transport/amqp.md#create-context

[2017-06-13 07:48] J7mbo opened #285 "Unit Testing with \AMQP"
I want to write a simple unit test for an object that uses `\AMQP`. I would like to test how my object responds given exceptions thrown on `\AMQPChannel::__construct()`, however I can't even get to the point where I can test `\AMQPExchange::__construct()` because I can't get past constructing a valid channel - that's because it requires an already connected `AMQPConnection`. Therefore, the whole s

[2017-06-13 07:52] lstrojny commented on #285
Can you give me an example testcase of what you want to do?

[2017-06-13 07:53] pinepain commented on #285
You don't have to pass any mocks to constructor, I'd suggest you to mock API methods your app using instead.

[2017-06-13 08:01] J7mbo commented on #285
I'm creating a factory for a Queue. I have a Kafka factory and now an AMQP one.

You give the factory a set of credentials and it spits out a Queue object (which is a wrapper around `AMQP` in this instance, with an interface). It throws my own `QueueConnectionException` when it fails, simply because I have to connect before creating the channel.

So the factory interface:

    interface QueueFacto

[2017-06-13 08:06] makasim commented on #285
I use this package `empi89/php-amqp-stubs` to run unit tests. Of course, the extension should not be installed or disabled. That's easy to do if you run tests in a previously crafted docker container.

[2017-06-13 08:54] pinepain opened #286 "Move stubs to separate readonly repo"
We have [pdezwart/php-amqp](https://packagist.org/packages/pdezwart/php-amqp) available on Packagist which should be sufficient for ide autocompletion, but not for mocking.

What do you think about creating read-only `pdezwart/php-amqp-stubs` repo and update it with git subsplit (e.g. how I do it in php-v8 - https://github.com/pinepain/php-v8/blob/master/scripts/subsplit.sh) and then phase out `pd

[2017-06-13 08:56] pinepain commented on #285
@makasim it's very outdated stubs, see #286

[2017-06-13 09:06] makasim commented on #285
Yes, it is outdate though it covered my needs.

#286 looks really good.

[2017-06-13 09:31] J7mbo commented on #285
I finally found my way around this... mocking and stubbing everything had to be done in a certain order and.. I needed to isolate the creation of each object in it's own protected factory method (protected so they're not part of the public API, but so PHPUnit could use `getMockForAbstractClass` to access them.

So my test now looks like this with them all stubbed out:

[code]

Having to connect in

[2017-06-13 10:13] pinepain commented on #285
@J7mbo The problem with connection and channel is that they maintain underlying php resources, which are fully initialized in class constructor: connection resource needs credentials and channel resource needs connection resources, which could be passed only via constructor. While in theory we can do lazy resource initialization upon request, it will heavily contribute to codebase complexity for n

[2017-06-13 12:19] dakulov commented on #237
@pinepain Thank you very much!

[2017-06-13 13:09] #285 closed

[2017-07-03 03:45] edoger opened #287 "I want to translate your documents."
I want to translate your documents and put them on my web site. (to chinese language)
Can I do this?

[2017-07-03 09:58] lstrojny commented on #287
@edoger what "documents" do you refer to? Documentation? Source code (and documentation) are available under the same license (see https://github.com/pdezwart/php-amqp/blob/master/LICENSE). The provisions defined in that license apply to your case as well.

[2017-07-03 10:47] edoger commented on #287
Documentation only! ("/stubs" only!)
I want to translate them into Chinese and put them in my website.

[2017-07-03 11:00] pinepain commented on #287
@edoger Thanks for your interest! As Lars said and  AFAIK, from the PHP license point it's ok. To make it rock solid, publish link to this repo and it could be definitely considered as a fair use policy regards, probably, any license (unless it explicitly forbid doing that, which PHP license does not).

[2017-07-03 11:13] pinepain opened #288 "Extension license"
php-amqp ext still use PHP license, though extension itself is neither PHP core extension nor relates to PHP/Zend organization, so it might be a good move to start using more popular and well-known license which explicitly covers all usage aspects.

MIT looks like one that just do the job well.

What php-amqp community think about this idea?

@lstrojny do you have any particular thoughts on topic?

[2017-07-03 19:34] lstrojny commented on #288
In hindsight I believe using MIT or the Apache license would have been better. Organising a license change is nothing I am personally interested in doing, I would agree to a license change though immediately.

[2017-07-03 19:34] lstrojny commented on #287
Closing.

[2017-07-03 19:34] #287 closed

[2017-07-04 00:05] edoger commented on #287
@lstrojny @pinepain  I already understand. Document translation is ambiguous in many licenses, and this often requires explicit permission from the author.

[2017-07-13 11:07] philippe-gillet opened #289 "amqps instead of amqp"
Hello,

I can't find a way to use amqps protocol instead of amqp with this repository to secure the transport of our messages.
I other words I want to use amqps://... instead of amqp://

Is there a way to define it? Or do you plan to allow to define it?

Best regards,

[2017-07-13 12:30] pinepain commented on #289
Hi! Thanks for good question, it really worth to add this use case to examples or demo, but unfortunately we don't have it yet done (PRs are welcomed, though).

For now you may take a look at [amqpconnection_ssl.phpt](https://github.com/pdezwart/php-amqp/blob/master/tests/amqpconnection_ssl.phpt) test which demonstrates amqps usage with self-signed certs. Hope, it will help you to get brief idea.

[2017-07-13 12:45] philippe-gillet commented on #289
Hello,

I'm trying to install the dev env.
Seems the box is no more available with the current url.

default: Downloading: https://cloud-images.ubuntu.com/vagrant/wily/current/wily-server-cloudimg-amd64-juju-vagrant-disk1.box
An error occurred while downloading the remote file. The error
message, if any, is reproduced below. Please fix this error and try
again.

The requested URL returned error: 4

[2017-07-13 16:43] pinepain commented on #289
@philippe-gillet thank you reporting the box issue, I'll look into it later today, that's weird. I have in mind to move to another image for a long time, now it's a good time.

[2017-09-04 12:42] Umkus commented on #197
Hello, @c-datculescu. Did you happen to come up with a solution/alternative for this over the year?

[2017-10-06 09:30] pinepain commented on #289
@philippe-gillet can we close this? /cc @lstrojny

[2017-10-06 12:14] jpastoor commented on #289
I'm trying to get this working without certificates but with username / pass but I can't seem to get it working.

[code]

It seems to hang on the connect().

Should I open another ticket for this?

[2017-10-06 13:47] pinepain commented on #289
@jpastoor having another ticket for your particular issue would be nice. Please, in advance to the issue report, attach some minimal, self-sufficient code to reproduce the issue to speedup troubleshooting.

[2017-10-06 14:02] jpastoor opened #292 "AMQPS Connection using user credentials hangs on connect()"
I'm trying to connect to an AMQPS server using username/pass.

[code]

This code snippet hangs on the connect() call.

A similar call via my golang client works fine, so I suspect the problem lies in this library. Is there anyone who is using AMQPS with user credentials instead of certs with any success?

[2017-10-06 14:18] pinepain commented on #292
To clarify: the protocol is AMQP and it allows to secure connection with SSL/TLS. When non-secure connection used, `amqp` used to denote the url schema for connection string (not represented in this extension) and for TLS-powered connection `amqps` used.

 AFAIR, php-amqp doesn't provide support for TLS without certs ATM, so you have to specify them or use standard `amqp`  port which is 5672. From

[2017-10-11 07:17] makasim opened #293 "\AMQPQueue::cancel() causes segfault."
I failed to come up with a small piece of code that reproduces the error but it does segfault in my tests [here](https://github.com/queue-interop/queue-spec/blob/c252543f6c1b0e026aed0561991d076e0b81ee75/src/Amqp/BasicConsumeShouldRemoveConsumerTagOnUnsubscribeSpec.php#L30) and [here](https://github.com/queue-interop/queue-spec/blob/c252543f6c1b0e026aed0561991d076e0b81ee75/src/Amqp/BasicConsumeUnti

[2017-10-11 07:18] makasim commented on #293
Those tests work for bunny and amqp-lib.

[2017-10-11 08:48] pinepain commented on #293
@makasim Hi! Nice catch, thanks! Could you add more details to the issue as per https://github.com/pdezwart/php-amqp#how-to-report-a-problem for better overview, please?

[2017-10-12 13:06] makasim commented on #225
I hit this one too. Sometimes I see it sometimes I am not. Sometimes restarting a docker container helps sometimes not.

Here's the stack trace:

[code]

[2017-10-12 13:11] pinepain commented on #225
@makasim can you try to localize the issue and publish minimal reproducible example, please? Also it would come in handy if you will be able to attach info about php version, php-amqp, rabbitmq-c and rabbitmq versions as well as platform.

[2017-10-12 13:18] makasim commented on #225
The problem is: it does not fail all the time, and when it fails it does it in different places.

[2017-10-12 13:24] pinepain commented on #225
That's interesting. Do you have core dumps for that? And it would be really nice to get exact php-amqp version to make sure we certainly have the same version when troubleshooting. Can you add what SAPI used to reproduce the issue, was it cli or fpm or apache module? Was PHP threadsafe or not? Can you add a minimal example to reproduce the issue alongside instructions how to hit the issue? Do you

[2017-10-12 13:30] makasim commented on #225
It is a cli command. I am inside basic.consume callback trying to perform an RPC call. For that I created tmp queue. I set it to a message reply-to header and send to another persist queue. Another consumer did its job and sent me a reply to that tmp queue.

I was able to read (I used basic.get for that) it, now I want to delete the tmp queue but it is no longer exist.

[2017-10-13 06:37] makasim commented on #293
That's a copy of [a test](https://github.com/queue-interop/queue-spec/blob/aeedcfd059aef8b317ae803fe6f392a1cdd4560b/src/Amqp/BasicConsumeUntilUnsubscribedSpec.php#L30) where I caught a segfault.

[code]

[2017-10-17 11:03] topikito opened #294 "Proposal: Create interfaces for basic types"
Hi!

This is not really an issue, its more of a proposal/question.

We've been using for a while this library (which is great) and today we were wondering why the basic types, as for example,  `AMQPEnvelope` or `AMQPQueue` don't implement any interface.

We don't need right now the interfaces, as we are using the specific classes, but we thought it would decouple the implementation and would be us

[2017-10-17 11:38] makasim commented on #294
They are already there: https://github.com/queue-interop/queue-interop#amqp-interop and AMQP extension is already supported.

[2017-10-17 11:56] topikito commented on #294
Thanks for the response @makasim

I dont really understand what you mean. Im not saying the domain is not following a standard. What Im saying is that, at least on the _stubs_ (Check [AMQPQueue Stub](https://github.com/pdezwart/php-amqp/blob/master/stubs/AMQPQueue.php) for example), theres no implementation of an interface.

[2017-10-17 12:19] makasim commented on #294
@topikito  What do you need an interface for?

[2017-10-17 12:25] sergeyklay commented on #294
@topikito Do you suggest to move part (some interfaces) of amqp-interop  to  php-amqp? :)

[2017-10-17 12:29] topikito commented on #294
@sergeyklay Yes :) That would be it

This is exactly what I mean https://github.com/queue-interop/queue-interop/blob/master/src/PsrQueue.php

[2017-11-13 14:48] Tomdarkness opened #296 "Heartbeat with long running tasks"
If you have heartbeats enabled and you do some long running task e.g:

1. Get Message
2. Do some long task (e.g long running SQL query, slow HTTP requests, etc.)
3. Attempt to ack message

You get various errors relating to the AMQP connection e.g Library error: a socket error occurred because the AMQP server has closed the connection as the client did not send heartbeats. This also causes the mes

[2017-11-16 13:01] ErwinSteffens opened #297 "Error "second 'channel.open' seen" with persistent connections"
We see errors occurring with this library when creating the channel object. The error is:

`AMQPConnectionException: Server connection error: 504, message: CHANNEL_ERROR - second 'channel.open'`

We hope you can help us to track down this error because we cannot find out why it happens. We see it in our production environment but were not able to reproduce it in development.

Our code for publishi

[2017-11-16 13:53] pinepain commented on #297
Hi! Looks like a bug. Could provide a minimal code to reproduce the issue?

[2017-11-16 14:59] ErwinSteffens commented on #297
We do not have a real reproduction that we can share. We will try to find one.

[2017-11-16 15:38] pinepain commented on #297
Do you have a chance to experiment with xdebug and opcache toggled on/off? Also, could you please provide your OS, platform, PHP version and a way it was installed?

[2017-11-16 15:52] ErwinSteffens commented on #297
I think xdebug and opcache are no option, but I will discuss it tomorrow.

OS version is CentOS 7.4.1708, PHP Version is 7.1.11. It was installed through the Remi repositories (https://rpms.remirepo.net/).

[2017-11-16 19:00] ErwinSteffens commented on #297
Debugging in production is not an option because we have a lot of traffic.

One question: Do we have to close the channel after usage? I see a `close` method on the AMQPChannel class but it is not in the documentation.

[2017-11-16 19:39] ErwinSteffens commented on #297
Shouldn't the `php_amqp_connection_resource_get_available_channel_id` be thread-safe when using persistent connections? You get the same connection resource for each channel I think?

[2017-11-16 20:51] pinepain commented on #297
Connection is thread-specific, you can't share any of it child resources (channel, queue, exchange) between threads. Also, the extension is not designed with been thread-safe in mind. While it may work, I didn't test it for that and not aware whether anybody else did. I had a client who was using php-amqp with pthread, however they quickly moved from it to forks.

`close` method should be a part o

[2017-11-17 09:52] ErwinSteffens commented on #297
Ok, is understand now. I thought it was reusing the connections over PHP processes, but there is a connection per proces.

The `close` method was not in the stubs used by PHPStorm so we did not find it. We have added it, but it does not resolve the issue.

[2017-11-17 18:47] makasim commented on #293
@pinepain do you plan to look into it?

[2017-11-18 21:04] pinepain commented on #293
Hi @makasim, thanks for writing. This issue is on my list, though, not at the top. I'm currently heavily busy with my work errands and my pet projects, so taking into account that neither my company nor my project uses this extension, I'm not sure I'll be able to get to this issue anytime soon.

However, I'd really appreciate some sponsorship to work on this task. If anybody interested, feels free